[2013-07-29 02:22] mathieucarbou opened #1 "Access to current file name as property in header file"
FROM: https://code.google.com/p/maven-license-plugin/issues/detail?id=67

In my company we use license header that has a name of the file in it. In
the end the license looks like:

// ******************************************************************
//
// SecretWorldHegemonyService.java
// Copyright 2010 XXX. All rights reserved.
// XXX PROPRIETARY/CONFIDENTIAL. Use is subject to license terms
//

[2013-07-29 02:23] mathieucarbou opened #2 "Documentation migration from google code"
- Complete review
- keywords must be described

[2013-07-29 03:05] mathieucarbou opened #3 "Can't define a mapping for xyz.apt.vm files"
I have tried to configure the plugin like this:

[code]

but the apt.vm seemed to be not working.
Does exist an other possibility to configure the plugin to recognize the extension .apt.vm ?

[2013-07-29 03:18] mathieucarbou opened #4 "Add removeTrailingSpaces option"
https://code.google.com/p/maven-license-plugin/issues/detail?id=93
### Reported by sewe@st.informatik.tu-darmstadt.de, Feb 3, 2011

Blank lines in the header files are never indented. Thus, one always gets the following (spaces denoted by '.'):

[code]

Its impossible to obtain the following (note the extra '.' on the otherwise blank line):

[code]

This is the case even if the line is just blank,

[2013-07-29 03:28] mathieucarbou opened #5 "Switch to annotation-based configuration"
http://maven.apache.org/plugin-tools/maven-plugin-plugin/examples/using-annotations.html#aAnnotations

[2013-07-29 03:41] mathieucarbou opened #6 "Switch to strictCheck=true by default"

[2013-07-29 03:44] mathieucarbou opened #7 "Handling of headers not on first line is inconsistent"
Reported by sam.hendley, Oct 9, 2011

Intellij has issues refactoring scala code and this causes it to move the header text below the package definition line. This is an intellij issue clearly but it highlights some odd behaviors in the headers plugin. Basically the issue boils down to this, the "header detector" will find the header and consider the file "good" if the license is not the first lin

[2013-07-29 03:54] mathieucarbou opened #8 "Improving default excludes"
Adding some (see old mycila issues on google code project)

pom.xml will not be excluded by default

[2013-07-29 04:12] mathieucarbou opened #9 "Replace maven-license-plugin by license-maven-plugin"

[2013-07-29 04:23] mathieucarbou opened #10 "Exposing pom properties (project.*) to header placeholders"
https://code.google.com/p/maven-license-plugin/issues/detail?id=105

[2013-07-29 04:29] mathieucarbou opened #11 "support files that use a "byte order mark" aka BOM"
https://code.google.com/p/maven-license-plugin/issues/detail?id=107

Reported by jcaddel@rsmart.com, Feb 14, 2012
http://en.wikipedia.org/wiki/Byte_order_mark

What steps will reproduce the problem?
1. Using the plugin on a file that contains a BOM as the first byte

What is the expected output?
The license header should be placed after the BOM.

What do you see instead?
The license header is inse

[2013-07-29 04:47] mathieucarbou opened #12 "Change default encoding to ${project.build.sourceEncoding}"
The plugin should, by default, use the project's source encoding: ${project.build.sourceEncoding}.

[2013-07-29 04:51] mathieucarbou opened #13 "Encoding not used for reading license files."
https://code.google.com/p/maven-license-plugin/issues/detail?id=115

The specified encoding is only used to load and save project files that are updated with the license header. The header file itself is, however, loaded without using the encoding. In our case, this results in German umlauts not being displayed correctly.

[code]

[2013-07-29 04:54] mathieucarbou opened #14 "The plugin is too eater with content immediatelly after the header on a properties file"
https://code.google.com/p/maven-license-plugin/issues/detail?id=118

Reported by sergio@wikier.org, Feb 18, 2013
I detected many case, this for instance:

https://code.google.com/p/lmf/source/diff?spec=svn8fc59b6223775d1d5a53af9bd45ec96adb34f38c&name=8fc59b622377&r=8fc59b6223775d1d5a53af9bd45ec96adb34f38c&format=side&path=/kiwi/kiwi-triplestore/src/main/resources/org/apache/marmotta/kiwi/persisten

[2013-07-29 17:17] #8 closed, assigned to mathieucarbou

[2013-07-29 18:56] #6 closed, assigned to mathieucarbou

[2013-07-29 23:07] mathieucarbou opened #15 "Review documentation"

[2013-07-29 23:33] #9 closed, assigned to mathieucarbou

[2013-07-31 02:48] mathieucarbou opened #16 "Website: include Maven reports"

[2013-08-01 20:16] #12 closed, assigned to mathieucarbou

[2013-08-01 21:14] #2 closed, assigned to mathieucarbou

[2013-08-01 22:02] #13 closed, assigned to mathieucarbou

[2013-08-02 13:38] #3 closed, assigned to mathieucarbou

[2013-08-02 14:43] #5 closed, assigned to mathieucarbou

[2013-08-02 15:37] #14 closed, assigned to mathieucarbou

[2013-08-02 16:00] #11 closed, assigned to mathieucarbou

[2013-08-02 16:03] #7 closed, assigned to mathieucarbou

[2013-08-02 16:19] #16 closed, assigned to mathieucarbou

[2013-08-02 16:20] mathieucarbou opened #17 "Use pom 2"
- property <github project name> to generate other urls and so on
- New license plugin
- Fix SCM
- Maven reports / site
- Issue tracking
- Ci Management

[2013-08-02 18:09] #17 closed, assigned to mathieucarbou

[2013-08-02 18:38] #15 closed, assigned to mathieucarbou

[2013-08-21 19:35] mathieucarbou opened #19 "Exclude *.json"

[2013-08-22 21:29] #19 closed, assigned to mathieucarbou

[2013-08-22 21:42] #10 closed, assigned to mathieucarbou

[2013-08-23 08:04] wbiller opened #21 "Set Java version to 1.6"
Please set the Java target version to at least 1.6.

Currently it's not possible to use the plugin with any Java lower than version 7.

You can achieve this by using the maven-compiler-plugin

[code]

[2013-08-23 12:27] #21 closed, assigned to mathieucarbou

[2013-08-27 16:23] #1 closed, assigned to mathieucarbou

[2013-09-01 02:08] electrum opened #26 "HeaderSection is not documented"
The `HeaderSection` config class is not documented in the generated documentation nor does it appear in the mojo configuration (so my IDE can't autocomplete or validate it).

[2013-09-04 18:24] MattEdwards opened #27 "Text File License"
I am trying to use this plugin for license files. I have successfully set it up to look over all my *.java files and ensure the license info is in the header. My project requirements also dictate that I have a LICENSE.txt file in the bundle as well. I am having a difficult time getting your plugin to see this file.

I believe I have the structure set up properly,

[code]

If I change the file to L

[2013-09-05 16:13] #27 closed, assigned to mathieucarbou

[2013-09-25 13:29] sbadakhc opened #28 "Request for a skip check goal."
Hi,

I was wondering if you can include some kind of skip check goal to override doing any checks.  This would be useful for development purposes.  Alternatively if you can recommend a way I can skip the checks I would appreciate it.  I'm working on a number of projects that use this plugin but also some that don't and my builds are failing due to missing headers.  I don't want to alter the pom's

[2013-09-26 12:13] #28 closed, assigned to nobody

[2013-10-17 08:37] rombert opened #29 "Automatically pick up license header based on pom.licenses"
It would be great if license headers could be automatically picked up based on the information contained in the licenses section from the pom.xml .

A possible algorithm is:

- if pom.licenses exists and has just one license element
- if the license.name ( or URL? ) matches those from the embedded licenses
- then automatically pick up that header

For instance, if my pom.xml contains

    <license

[2013-10-30 09:21] Jokeway opened #30 "mvn license:remove NullPointerException"
[ERROR] Failed to execute goal com.mycila:license-maven-plugin:2.5:remove (defau
lt-cli) on project macula-plugins-dist: Execution default-cli of goal com.mycila
:license-maven-plugin:2.5:remove failed. NullPointerException -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal c
om.mycila:license-maven-plugin:2.5:remove (default-cli) on project macula-plugin
s-

[2013-12-03 14:37] thorstenvogel opened #33 "*.tagx not supported (should be in the list for XML_STYLE)"
XML-JSP Tags should be supported with XML_STYLE headers.

[2013-12-04 01:59] #33 closed, assigned to mathieucarbou

[2014-01-10 21:02] s1monw opened #35 "Plugin doesn't work with Java 1.6"
I just tried to include the plugin into the pom and run it with java 1.6 and I get this error:

[code]

I tried version `2.3` as well as `2.4` and `2.5` and they all have the same problem. Its kind of a bummer though since we have minimum version of 1.6 in the project. I wonder if you can rebuild the package and redeploy a new version that works with 1.6? I assume you build with 1.7 which will pro

[2014-01-13 18:10] lukastymo opened #36 "put header instide a pom.xml to support multi module projects and "path" to the header"
In multi modules pom there is no easy way to use license-maven-plugin.

The problem is that placing the header in a file inside the root module, is accessible only from the root project. Only adding a property which refers to the root like this:

< headerUrl >${basedir}/..< / headerUrl >

for _each_ child modules solves the problem.

My proposition is to add tag <headerString> which allows placing

[2014-01-23 16:49] #35 closed, assigned to mathieucarbou

[2014-02-03 13:57] #36 closed, assigned to mathieucarbou

[2014-02-04 18:11] vmassol opened #37 "Running this maven plugin twice on XML files adds an extra line"
Here's an input example:

    <?xml version="1.0" encoding="UTF-8"?>

    <xwikidoc>

After running the plugin once, I get:

    <?xml version="1.0" encoding="UTF-8"?>

    <xwikidoc>

And running it again addes an extra new line just after the first line:

    <?xml version="1.0" encoding="UTF-8"?>

    <xwikidoc>

It's not normal than running the plugin twice generates a change.

Thanks

[2014-03-22 01:36] carlspring opened #38 "Insert the license one line after the package"
Is it possible to insert the license after the package? Such as for example:

[code]

Instead of it being above the package name...?
If not, would it be too hard to implement and what part of the code would need changes?

[2014-03-26 21:59] sdumitriu opened #39 "The plugin doesn't support parallel build"
Running:

    mvn clean install -T 2C

Build failed with:

[2014-03-29 18:35] astefanutti opened #40 "The year property is not taken into account"
As per the documentation, this is possible to set the year:

[code]

However, the `${project.inceptionYear}` value is always taken into account even if the `year` property is specified.

[2014-03-30 20:48] #40 closed, assigned to mathieucarbou

[2014-06-09 13:22] masih opened #41 "license:remove is not working"
The `remove` goal does not remove file headers despite the log messages saying the headers are removed.

My plugin configuration:

[code]

The command I execute is `mvn license:remove`.

The (shortened) log:
[code]

I have enabled `-X` and no exceptions are being thrown by the plugin.
Any clues?

Many thanks

[2014-07-10 15:18] william-tran opened #43 "License headers shouldn't be in Javadoc style"
In most open source java libraries the header looks like:

[code]

This plugin uses a javadoc style:

[code]

 This becomes a problem when generating javadocs, because the license header content gets into all your documentation.

[2014-08-05 16:50] lpezet opened #44 "skipExistingHeaders not taken into account for "check" goal"
_skipExistingHeaders_ property is taken into account in the **format** goal, but NOT in **check** goal.

[2014-08-19 10:12] #43 closed, assigned to mathieucarbou

[2014-09-18 15:35] bitstorm opened #46 "Check goal not executed as expected"
Hi,

I use the following config in my pom:

[code]

However, when I run mvn verify no check is performed. Am I missing something?

[2014-11-28 03:23] ghost opened #47 "mvn clean install BUILD FAILURE"
when i was pulling code from master and building it, a bug occured. :

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 2.146 s
[INFO] Finished at: 2014-11-28T10:23:31+07:00
[INFO] Final Memory: 26M/217M
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal com.mycila:lic

[2014-12-04 19:40] #47 closed, assigned to nobody

[2014-12-18 16:02] ppalaga opened #48 "Support extension-less files in <mapping>"
With `<Dockerfile>SCRIPT_STYLE</Dockerfile>`  in `<mapping>` I still get

[code]

The fix should probably happen around https://github.com/mycila/license-maven-plugin/blob/master/src/main/java/com/mycila/maven/plugin/license/document/DocumentFactory.java#L51
e.g. by replacing

[code]

with

[code]

I am going to try it.

[2014-12-19 13:26] #48 closed, assigned to nobody

[2014-12-19 13:28] #46 closed, assigned to mathieucarbou

[2014-12-19 13:29] #44 closed, assigned to mathieucarbou

[2015-01-16 20:07] nik9000 opened #50 "Support Yaml"
Yaml files get "[WARNING] Unknown file extension" now but could probably be supported.

[2015-01-19 12:12] robbyb67 opened #51 "Provide a update-goal parameter: add if missing"
Suppose you have a year mentioned in your header and your project is long lasting which means the code is produced over years.
If you change the year in your header, all files will be changed - not only the new ones. I understand this behaviour is needed in some use cases but is unwanted in the one described above.

[2015-01-20 22:29] bobvarghese opened #52 "Error configuring includes"
I tried setting a pattern for includes but the plugin doesn't seem to like it.

It throws the following error:
 Cannot assign configuration entry 'includes' with value '**/*java' of type java.lang.String to property of type java.lang.String[]

maven plugin config snippet:
<configuration>
	<includes>**/*java</includes>
</configuration>

[2015-01-20 22:36] mathieucarbou commented on #52
This is a Maven-related error because of a wrong format of your xml file. try with:
[code]

[2015-01-20 22:36] #52 closed

[2015-01-23 14:33] mathieucarbou commented on #39
Hi,

I think I've found it.

[code]

The license plugin is using a library which creates an XML document. This library had a thread-safety issue regarding XML document creation.

I'll try to upgrade to the new version.

[2015-01-23 20:02] mathieucarbou commented on #51
Yes I agree.
Please provide a pull request :-)

[2015-01-23 20:03] mathieucarbou commented on #50
Done in pull request #53

[2015-01-23 20:03] #50 closed

[2015-01-23 20:06] mathieucarbou commented on #41
Please provide a junit test to reproduce. Or provide a pull request.

[2015-01-23 20:10] #39 closed

[2015-01-26 13:55] ppalaga opened #54 "Copyright years based on git history"
We have recently introduced a custom PropertiesProvider in [our project](https://github.com/hawkular/hawkular-build-tools/blob/master/src/main/java/org/hawkular/build/license/CopyrightRangeProvider.java#L41)  that adds two new properties:

* `license.copyrightLastYear` - the year of the last change of the present file as seen in git history
* `license.copyrightYears` - the combination of `project.

[2015-01-26 14:26] mathieucarbou commented on #54
Understood!

I think of 2 ways implementing this in MLP:

In exemple in MLP configuration you can currently set properties like this:

<properties>
    <owner>Mycila</owner>
    <email>mathieu.carbou@gmail.com</email>
</properties>

an idea would be to introduce a propertiesProvider setting:

<propertiesProviderClasses>
    <propertiesProviderClass>org.hawkular.build.license.CopyrightRangeProvider

[2015-01-26 15:41] ppalaga commented on #54
I do not know if I stated explicitly enough that we already have an implementation of `com.mycila.maven.plugin.license.PropertiesProvider` here: https://github.com/hawkular/hawkular-build-tools/blob/master/src/main/java/org/hawkular/build/license/CopyrightRangeProvider.java#L70
It works quite well with the ServiceLoader framework and I am OK to leave it like that.

As you seem to imply that this f

[2015-01-26 15:50] mathieucarbou commented on #54
Thanks :-)

[2015-01-31 04:57] mathieucarbou commented on #54
Merged #56

[2015-01-31 04:57] #54 closed

[2015-02-09 11:21] dkirrane opened #59 "Add option to skip variables"
It would be useful to skip some variables like the`${year}`
Some files will be 2014 and other 2015

[2015-02-11 20:07] JeromSar opened #60 "Formatting not working at all!"
For me, the formatting won't work at all! This is the output at the beginning of every java file. Am I doing something wrong?

[code]

Configuration:
[code]

[2015-03-16 12:26] mathieucarbou commented on #59
yes! please provide a pull request for this :-)

[2015-03-16 12:28] mathieucarbou commented on #60
You ate using an outdated version. Please see the website / doc.

[code]

[2015-03-16 12:28] #60 closed

[2015-03-19 20:23] criffle opened #62 "aggregate plugin uses codehaus version"
Hi thanks for the project,

My root aggregate pom contains the configuration below.  When I run it with:  mvn license:check -- mvn starts trying to download the codehaus similarly named version of this plugin and then fails.

How can I make it stop trying to use the other version of the codehaus plugin - and why is it trying that?

Is it possible to define the configuration of this plugin once at

[2015-04-07 17:15] #62 closed

[2015-04-07 17:15] criffle commented on #62
I had a local config issue of the plugin.

[2015-04-07 17:22] criffle opened #67 "logs "Checking licenses..." when -Dlicense.skip=true"
When running license:check with the -Dlicense.skip=true flag set, the logging outputs:  "Checking licenses..." even though licenses are not being checked.

I think the issue is in the class:  LicenseCheckMojo - on line 41

https://github.com/mycila/license-maven-plugin/blob/1a08ad3af8c1543e397b9d5c4bfac0c7b13f49c3/license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/LicenseCheckMojo.

[2015-04-13 15:18] McFoggy opened #68 "exclude by default netbeans configuration file"
As it is done for Eclipse & IDEA, exclude by default Netbeans configuration file: nb-configuration.xml

[2015-04-13 16:22] #68 closed

[2015-04-13 17:42] McFoggy opened #70 "tests are failing on windows"
On windows some tests are failing as exemple RemoveMojoTest#test_remove_script_style.

The errors are mainly because loaded files contain `\r\n` whereas the test itself checks against `\n`.
Of course changing the tested string to `r\n` corrects the behavior, but why the hell is it working under linux boxes of travis-ci?

[2015-04-13 18:26] McFoggy commented on #70
difference might come from git checkout and core.autocrlf setting.
if tests are really relying on end lines, isn't there the need of defining a git [repository settings file](https://help.github.com/articles/dealing-with-line-endings/)

[2015-04-14 12:32] McFoggy opened #71 "skipLinePattern: bug or missundertsanding"
Hi,

trying to define my own style for some proprietary file formats, I could not skip correctly first lines of my file.
Then I started to debug HeaderParser#findBeginPosition and found the line
`while (line != null && !headerDefinition.isSkipLine(line))`
why is there a negation before isSkipLine? shouldn't it be the exact opposite, in pseudo code `while ( current line has to be skipped ) read nex

[2015-04-14 14:07] McFoggy commented on #70
investigating further I think that line ending should be reworked in the project, there is no consistency all over the project depending on file input content, example:
in FileContent#FileContent() there is a false assertion i guess: `unix = fileContent.indexOf("\r") == -1` which is probably wrong for one line files under windows.

@mathieucarbou : what was your intention in the project regarding

[2015-04-14 14:34] mathieucarbou commented on #67
I need to review also other mojo to avoid logging when skip is set to true

[2015-04-14 14:59] mathieucarbou commented on #70
Hi

I am using Windows at home also and all releases of the plugins and tests are run on Windows before releasing. I also have an Ubuntu laptop and  lot of contributors are using Ubuntu. The Travis continuous build of the project also runs on Linux. And it pass. All tests passed for the latest release. As you can see, here are the modifications in the project since the latest release:

https://git

[2015-04-14 14:59] #70 closed

[2015-04-14 17:17] McFoggy commented on #70
yes on my windows machine I have `core.autocrlf = true`, which is unfortunately or not part of a lot of GIT documentations ([GIT SCM book](http://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration), [Github documentation](https://help.github.com/articles/dealing-with-line-endings/)).

having said that several choices pop up:

1. consider that everyone will have `core.autocrlf` set to `false`

[2015-04-14 17:42] mathieucarbou commented on #70
Using platform EOL is inconsistent because of win/unix diferences. So using platform EOL for one-line files is not a solution. When you work in a big team where people are using different systems, this is something you have to consider. The choice in the plugin is thus to use the unix behavior by default, which has less impacts because IDEs and even windows handles that.

That being said, for a lo

[2015-04-15 06:47] McFoggy commented on #37
I do not reproduce ; neither in 2.10 or in latest 2.11-SNAPSHOT version.

[2015-04-15 08:04] vmassol commented on #37
Just tested and same problem with 2.10

[2015-04-15 08:16] vmassol commented on #37
FTR this is how I use it and how I reproduce the problem:

[code]

[2015-04-15 08:19] McFoggy commented on #37
What is the content of your specific XML headerDefinition file?
Do you reproduce if you omit your specific definition and use the default one?

[2015-04-15 08:25] vmassol commented on #37
my license-xml-definition.xml contains:

[code]

[2015-04-15 08:38] vmassol commented on #37
"Do you reproduce if you omit your specific definition and use the default one?"

I've just tried it and I get exactly the same problem with the default definition file.

[2015-04-15 09:00] McFoggy commented on #37
Can you please checkout the branch in which I pushed a test case and execute it on your environment?

[2015-04-15 11:59] #71 closed

[2015-04-15 12:27] #30 closed

[2015-04-15 12:27] #67 closed

[2015-04-16 15:37] McFoggy opened #76 "enforce project EOL to be correct regardless of user GIT settings"
We should find a way to enforce some rules at project level so that whatever the default global git configuration of a user is, the project works as expected.

Today (commit [dbc060a5297228055ce791ad2af4027da6e37a95](https://github.com/mycila/license-maven-plugin/commit/dbc060a5297228055ce791ad2af4027da6e37a95)), if you are on a windows machine and you applied different GIT recommandations ([GIT S

[2015-04-16 16:05] mathieucarbou commented on #76
As I already said, `core.autocrlf` should NEVER be true for the simple reason that it is a host-specific config which modify project files.
If prject files are modified, it is a NORMAL behavior for tests to fail.

[2015-04-16 16:13] mathieucarbou commented on #76
I'll add that there is a way to modify this property at a project level by editing the file `.git/config`.

[2015-04-16 17:21] McFoggy commented on #76
I do not understand why you are closing this directly without letting anyone including me to lookup & provide a way to make this transparent?
From what I see on projects where EOL characters matter, they provide PROJECT SPECIFIC rules via a .gitattributes file.
If there is a way to do this clean, why do you refuse to at least investigate it?

Please reconsider reopening the issue until a real anal

[2015-04-16 17:39] McFoggy commented on #76
but that means a manual step after checking out the project.
Really I am convinced that if a clean setup is possible then we should try it.

[2015-04-16 17:45] mathieucarbou commented on #76
Sorry! yes it should not be closed! I misunderstood the issue description. If here is some way to set the `autocrlf` setting specifically for a project, yes it would do the trick.
I'd like also to avoid placing a `.gitattributes` file which treat all files as binary ;-)

[2015-04-16 22:10] McFoggy commented on #41
I succeed in reproducing the issue under a branch of [my fork](https://github.com/McFoggy/license-maven-plugin/tree/issue-41).

Basically actions to reproduce:
- from a file without header
- using `format` goal add GPL-3.txt header
- call remove goal

A user could expect that the header is removed, I was such a guy until I discovered the keywords parameter on the mojo.
By default, it contains only

[2015-04-23 12:58] jakub-bochenski opened #77 "Add support for single line doubleslash style"
We are using a sinlge line notice looking like this:

[code]

It took me some time to figure out the correct configuration:

[code]

I'd send you a pull request but I can't find where to add it in the source

[2015-05-13 09:35] rnc opened #78 "Blank line after/before license"
It would be nice to have an option to add a blank line before the license block or / and after the license block.

[2015-05-27 13:52] vmassol commented on #37
Hi @McFoggy and sorry for not answering faster... I have now cloned https://github.com/McFoggy/license-maven-plugin.git and checked out branc

[2015-06-18 17:24] juandesi commented on #41
Still facing this issue... is there someone working on this?

[code]

[2015-06-18 19:13] mathieucarbou commented on #41
Sadly I have no time now to fix it - If someone could provide a pull requets I would be pleased to apply it.
Thanks!

[2015-06-18 19:57] juandesi commented on #41
Thanks for replying Mathieu, I'll try to make some time to provide a PR.

[2015-06-18 21:35] McFoggy commented on #41
I think the test is not the problem, I described how to reproduce and a test is waiting in [a branch](https://github.com/McFoggy/license-maven-plugin/tree/issue-41). Instead @mathieucarbou can you try to answer the questions I asked concerning the keywords for this issue? Once it is decided what to do it will be easier to do it ;-)

[2015-06-18 23:47] mathieucarbou commented on #41
Sorry @McFoggy I completely missed the previous discussions...

Actually, as I remember, the first implementation of the plugin didn't contain any pattern matching capabilities for detecting starting, ending and lines part of a header. Header detection was done in the first version through keywords.

Then, when the plugin added the header detection feature by using patterns, the keywords were kept

[2015-06-19 15:56] mbiarnes opened #81 "no command for only add missing licenses"
In http://code.mycila.com/license-maven-plugin it says:
format: add headers if missing.
On the same page it says below:
license:format: add the license header when missing. If a header is existing, it is updated to the new one.

I used mvn license:format and it added me licenses where i did not have any, but it also updated licenses I already had.
This changed i.e the years I had before in my exis

[2015-06-19 17:19] mathieucarbou commented on #81
Hi,

There is no such feature yet, but It would be nice to had it and not complicated to implement I think.

I won't be able to implement it during the following weeks - someone could send a PR. Otherwise I should be able to implement it near mid-july.

[2015-06-19 20:23] roxspring opened #82 "Ability to specify license header inline"
I need to specify a simple one-line license statement and use it for a multi-module build:

    Copyright (c) ${year} ${organizationName} All Rights Reserved

Is it possible to specify this pattern inline so that there's no dependency on pulling the license from some file path?

(Alternatively would there be interested in a simple "ALL-RIGHTS-RESERVED" license since I imagine this is a fairly regu

[2015-06-19 20:59] mathieucarbou commented on #82
Agree.
We'll see how to implement this. We could provide both such template, plus a new option to specify the raw header text.

[2015-06-27 01:01] 243826 opened #83 "license.header path inherited from parent pom not adjusted for mvn modules."
I have a project where in the parent pom I have following configuration:

[code]

and there are child modules in subdirectories of the directory holding the parent pom. When the project is built in its entirety from the parent folder, the license check works just fine cause it's able to resolve license.txt.

But if I chdir into individual subfolder, and try to license:check, the check fails. It sh

[2015-07-04 23:06] mathieucarbou commented on #83
Hi,
The plugin should not be inherited to child modules in your case. Maven has an attribute for this: `<inherited>false</inherited>` under the `<plugin>` section.
Let us know if this solves your problem :-)

[2015-07-06 19:19] 243826 commented on #83
I get the following error now:

[INFO] --- license-maven-plugin:2.11:check (default-cli) @ dt-common ---
[INFO] Checking licenses...
[WARNING] No header file specified to check for license

The check does not emit this error at the top level. dt-common is a
submodule of the parent project.

--
Chetan

On Sat, Jul 4, 2015 at 4:06 PM, Mathieu Carbou <notifications@github.com>
wrote:

[2015-07-28 13:26] debovema opened #88 "Add footer support"
Is it possible to add a license at the end of the file (as a footer) ?

[2015-08-06 15:03] mmoayyed commented on #78
Yes, and please make this optional.

For example, I would want something like this on a JSP file:

[code]

Rather than:

[code]

[2015-08-13 20:11] christiangalsterer commented on #81
Hi,
+1 from my side for this feature. I think it is a common use case to have a license similar to the following one where for existing headers the year should not be updated.

[code]

I think https://github.com/mycila/license-maven-plugin/issues/51 addresses the same problem.
Do you have an updated view when 2.12 will be released? If you are interested in support to implement this feature and can

[2015-09-24 20:16] dhoffer opened #90 "excludes appears to be ignored"
I have a requirement to include most files but to exclude some in particular folders so I have configured like this:

[code]

Yet the excluded folders are not being excluded.

[2015-10-12 12:57] sadentc commented on #82
+1.

Pulling license header from a file get really messing when working with projects with sub-modules.

[2015-10-27 21:47] lhanson commented on #90
I have a similar issue. Running version 1.9.0, the plugin is flagging .idea/workspace.xml as not containing a valid header. My workaround is to explicitly exclude .idea, even though it appears to be mentioned in [Default.java](https://github.com/mycila/license-maven-plugin/blob/master/license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Default.java), e.g.

    <configuration>

[2015-11-02 02:21] pinghe opened #92 "exclue font file"
https://github.com/mycila/license-maven-plugin/blob/master/license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Default.java

add

[code]

        // Office documents add
[code]

[2015-11-10 09:03] flefevre opened #93 "Adding support for all Eclipse project"
Hello
at first, thanks for this great plugin !

I have some difficulties to make it work on Eclipse projects that have EPL.
The pattern of the offcial license is here: http://www.eclipse.org/legal/copyrightandlicensenotice.php

/*******************************************************************************
 * Copyright (c) {DATE} {INITIAL COPYRIGHT OWNER} {OTHER COPYRIGHT OWNERS}.
 * All rights r

[2015-11-10 14:32] mathieucarbou commented on #88
Not currently...

[2015-11-10 14:33] mathieucarbou commented on #93
I think you'll have to define your own template with the XML definition file.

[2015-11-10 14:34] mathieucarbou commented on #92
Please create a PR and update the tests...

[2015-11-10 14:36] mathieucarbou commented on #90
.idea exclusion works fine - I think it could be something else.

Can you either add a unit test as a PR to reproduce the issue, or give me a sample maven project reproducing this ?

[2015-11-10 14:38] mathieucarbou commented on #83
<header>license.txt</header> searches for a file. So this file should be in all modules. You should use a jar dependency set in the plugin for your use case I think...

[2016-01-19 15:26] sebhoss commented on #41
Oh yeah that was me :-(

I felt that using something like `${project.inceptionYear}` for the copyright year is not correct (at least not beyond the inception year) and adding things like `${owner}` or `${email}` to the template would make it harder for users to use the plugin. I did not know about the copyright keyword back then, so i blindly removed the first line from the GPL templates.

I've pu

[2016-01-20 10:11] arulrajnet opened #95 "Support for mulitiple years in header based on git log"
Include multiple years in the copyright header, indicating the various years in which various material in the overall work was first published. So, if the file was originally created in 1998 and new copyrightable content was added in 2000, the year portion of the copyright header might be “1998, 2000.” If new content was added in 1998, 2000, and 2004, the year date might be “1998, 2000, 2004”

Ref

[2016-01-27 20:38] mikulucky commented on #81
This can be resolved without any changes. Within your configuration block simply add the following
[code]
Here is an example of my configuration

[code]

[2016-02-04 20:04] cvgaviao opened #97 "maven doc main page do not shows goals"
If you follow this [link](http://code.mycila.com/license-maven-plugin/reports/2.3/index.html) you can't see anything other than some project details that do not help who would need to learn how to use this tool

[2016-02-11 13:47] AbhijitVyas opened #98 "Want to skip <!DOCTYPE.*> in HTML file header"
Hello,

This is an issue I have been facing since last couple of days. I want to skip my HTML file tag "**<!DOCTYPE.*>**" and insert header in next line. I tried to create my own customHeader.xml file where, I have defined "**skipLine : <![CDATA[<\!DOCTYPE.*>]]> **". Now the problem is, since this setting file is using "xml_style", all the other xml files are haing problem with their headers. New

[2016-03-11 10:34] mirabilos commented on #38
Yes, please do! ;-)

[2016-03-17 10:21] ivanpb opened #99 "Custom error message when headers are missing"
Hi,

would it be possible to customize the error message when the headers are missing?
A developer just told me that he always forgets the command to add the headers :)

Thanks,
Ivan.

[LicenseCheckMojo.patch.txt](https://github.com/mycila/license-maven-plugin/files/177628/LicenseCheckMojo.patch.txt)

[2016-03-21 20:59] rajugurung opened #100 "Converts ms word like end quote(”) to �?"
I am running version 1.9.0 of this plugin in my project. It adds the license information correctly but what it also does is if it sees any of this curly end quote(”), it converts them to �? What's causing this and what can I do to fix it?

It does not do anything to the start quote(“).

[2016-04-25 15:24] heapifyman commented on #82
+1

[2016-04-25 15:28] heapifyman commented on #38
Could this patch be made generic enough so that issue #98 is also addressed? I.e. possibility to add license header after the <!DOCTYPE >.
Older IE versions seem to be having problems if there is anything before the <!DOCTYPE>.

[2016-04-25 16:53] #76 closed

[2016-04-25 17:10] #92 closed

[2016-04-25 17:16] mathieucarbou commented on #41
Integrated in Pr #101 - will try to also integrate PR #80 from @McFoggy

[2016-04-25 17:34] mathieucarbou commented on #100
It's probably an encoding issue. Did you try the encoding setting ?

[2016-04-25 17:36] mathieucarbou commented on #98
It is possible to just redefine the mapping between extensions and header types, and just for xml, you could redefine a custom header type.

[2016-04-25 17:38] mathieucarbou commented on #38
It's something that can be done but would take some time to figure out the impacts and the code change. So I would prefer that someone provide a patch that I can review - since I do not have the time for this sadly.

[2016-04-25 17:43] #99 closed

[2016-04-25 17:46] mathieucarbou commented on #90
Can you reproduce that with version 2.11 ? Can you send a unit test please ?

[2016-04-25 17:48] mathieucarbou commented on #93
Note: will be closed in a few days if i have no feedback

[2016-04-25 17:50] mathieucarbou commented on #90
Note: will be closed in a few days if i have no feedback

[2016-04-25 17:51] mathieucarbou commented on #83
Note: will be closed in a few days if i have no feedback

[2016-04-25 17:54] mathieucarbou commented on #81
thanks @mikulucky  - forgot this one ;-)

[2016-04-25 17:54] #81 closed

[2016-04-25 17:58] mathieucarbou commented on #98
will close, will be resolved by #38 otherwise.

[2016-04-25 17:58] #98 closed

[2016-04-25 18:03] mathieucarbou commented on #77
It's in `HeaderType`. You'll have to send a unit test also to make sure your pattern is working.

[2016-04-25 18:04] mathieucarbou commented on #51
duplicate of #81

[2016-04-25 18:04] #51 closed

[2016-04-25 18:06] #41 closed

[2016-04-25 18:17] mathieucarbou commented on #37
I franckly don't know... I will update the project to 3.0.rc1 soon with inclusion if some @McFoggy's commits. You can retry after than...

[2016-04-25 18:18] #29 closed

[2016-04-25 19:53] mathieucarbou commented on #82
Implemented with `inlineHeader` setting, or `-Dlicense.inlineHeader`.

[2016-04-25 19:53] #82 closed

[2016-04-25 22:34] sadentc commented on #82
:100:

[2016-06-01 08:10] jkatnik opened #102 "option to not update headers"
Hi

in my project I use Liquibase - it maintains SQL files for changing DB structure.
Liquibase evaluates md5 sums for SQL scripts and if it detects that already applied script has changed it raises an error preventing app startup.

When I change licence template the license-maven-plugin updates license in SQL files which is an issue for me.

I'd like to ask to add configuration parameter instruct

[2016-06-29 14:04] mathieucarbou commented on #100
closing - no answer back.

[2016-06-29 14:04] #100 closed

[2016-06-29 14:05] #93 closed

[2016-06-29 14:05] #90 closed

[2016-06-29 14:06] #83 closed

[2016-06-29 14:07] mathieucarbou commented on #102
You can exclude some patterns using:

[code]

[2016-06-29 14:09] mathieucarbou commented on #97
links have been changed to the plugin info page.

I.e.: http://code.mycila.com/license-maven-plugin/reports/3.0.rc1/plugin-info.html

[2016-06-29 14:09] #97 closed

[2016-06-29 14:12] mathieucarbou opened #104 "inlineHeader not working"
When providing an inline header in the XML, the header is style required and plugin fails.

[2016-06-29 15:33] Martin-Wegner opened #105 "Slash in "name" tag causes trouble"
A slash in the "make" tag causes trouble:

For example:

[code]

The result is the following warning:

The problem is that the filename of the downloaded license is the value of the "name" tag. But a slash is not allowed for a filename under Linux.

[2016-06-29 20:16] mathieucarbou commented on #37
closing due to non updates

[2016-06-29 20:16] #37 closed

[2016-07-08 15:43] BertKoor opened #106 "Add support for the DBAD license"
Could you support the DBAD license type which is a bit more restrictive than WTFPL ?
See http://www.dbad-license.org/
Thanks in advance...

[2016-07-28 13:50] Martin-Wegner commented on #105
Oh sorry! I confused this plugin with the mojohaus/license-maven-plugin ...

[2016-07-28 13:50] #105 closed

[2016-08-08 17:57] shane-hp opened #107 "Custom mapping seems to not honor order from configuration"
I am using 2.11 and the mapping configuration is not working as expected and documented. It seems like the mapping is handled in alphabetical order, not configuration order.

If I add a custom mapping like this:

\<mapping>
\<xml.tmpl>XML_STYLE\</xml.tmpl>
\<tmpl>SCRIPT_STYLE\</tmpl>
\</mapping>

The *.tmpl mapping is always chosen for my *xml.tmpl files. I would expect the *xml.tmpl files to matc

[2016-08-08 22:45] shane-hp commented on #107
Created PR #108 to possibly fix this issue.

[2016-08-08 22:50] shane-hp commented on #107
My research showed that Maven will create a TreeMap for any configurations that are set to be a java.util.Map with the @Parameter. The TreeMap is sorted, hence the alphabetical order of the mappings. The solution seems to be to change the type to a LinkedHashMap and then the order seems to be retained.

[2016-08-12 11:18] mathieucarbou commented on #107
Thanks! I'll have a look at your PR when I'll have some time :-)

[2016-08-12 11:31] mathieucarbou commented on #106
Please send a PR...

[2016-08-12 11:33] #102 closed

[2016-08-12 18:18] mathieucarbou commented on #107
fixed by #108

[2016-08-12 18:18] #107 closed

[2016-08-16 12:48] mirabilos commented on #78
Additionally, it would be nice to say: one blank line, but none above if the licence block is the first thing in the file, and never more than one blank line (i.e. don’t add one if one exists, or even collapse them all into one empty line).

[2016-08-16 12:49] mirabilos commented on #38
I just did it like this:

        <plugins>
            <plugin>
                <inherited>false</inherited>
                <groupId>com.mycila</groupId>
                <artifactId>license-maven-plugin</artifactId>
                <version>2.11</version>
                <configuration>
                    <basedir>${basedir}</basedir>
                    <header>${basedir}/release/LICENCE.hdr</

[2016-08-16 12:52] mirabilos opened #111 "Add PERCENT_STYLE for LaTeX"
Hi,

please add `PERCENT_STYLE` similar to `PERCENT3_STYLE` except:

- no blank line (only percent sign(s)) before or after
- only one percent sign, not three

Also, please map it to `*.tex`, `*.sty`, and `*.cls` (Teχ/LaTeX) by default.

[2016-08-16 12:55] mirabilos opened #112 "How to actually do a PropertiesProvider?"
My current problem is that various files, currently separated by subdirectory, can have differing copyright holders (and years, per file, but we’ll tackle this separately).

I’ve seen this part of the documentation…

… but fail to figure out how to actually use that. My idea was to add a `${copyrightholders}` line to the header, and put into the Map an entry “copyrightholders” which is a string co

[2016-08-16 13:01] mathieucarbou commented on #38
you used the package line in the skipLine lol ;-) good catch!

[2016-08-16 13:03] mathieucarbou commented on #111
Are you able to send me a PR or the ligne to put in the header definition file ?
Thanks!

[2016-08-16 13:06] mirabilos commented on #38
Yeah, it works for me except for the amount of empty lines (hence https://github.com/mycila/license-maven-plugin/issues/78#issuecomment-240091273 ;) which is trivial to fix manually or scripted though.

And, of course, `package`-less `*.java` files (and others like `*.js`) still need to use Javadoc style, not this one.

[2016-08-16 13:06] mathieucarbou commented on #112
You have several examples with the modules:

- license-maven-plugin-svn
- license-maven-plugin-git

here: https://github.com/mycila/license-maven-plugin

Basically, the idea is to implement this interface, provides a META-INF/services file and when configuring the plugin, you can add some `<dependencies>` section to the plugin, so that your properties provider is on the plugin's classpath.

[2016-08-16 13:11] mathieucarbou commented on #38
ok. so definitely it would be a new feature to add... I really do not know how to best-develop it though because it has a lot of specifics per extension...

[2016-08-16 13:13] mirabilos commented on #111
Hmm, I think we cannot do it with lines before/after… will send.

[2016-08-16 13:25] mirabilos commented on #111
… nevermind, got it… testing right now

[2016-08-16 13:26] mirabilos commented on #111
I think this will do the trick:

    <?xml version="1.0" encoding="UTF-8"?>

    <additionalHeaders>
        <Tex_style>
            <beforeEachLine><![CDATA[% ]]></beforeEachLine>
            <endLine><![CDATA[EOL]]></endLine>
            <firstLineDetectionPattern><![CDATA[^% .*$]]></firstLineDetectionPattern>
            <lastLineDetectionPattern><![CDATA[^% .*$]]></lastLineDetectionPattern>

[2016-08-16 13:31] mirabilos commented on #4
I chose this plugin over another exactly *because* it *does* strip trailing whitespace ☺

We have a code rule that no trailing whitespace is allowed.

[2016-08-16 13:38] mirabilos commented on #112
So I need to do a *completely separate* Java project just for the plugin, then reference this?

Is there really no way to pick up a class defined in the “current” project?

(In that case, I’ll probably want to write a plugin that allows for multiple different headers/properties, and reads them from a configuration file in the to-be-applied project… but that’s way more code, and I’m short of time a

[2016-08-16 14:38] #111 closed

[2016-08-16 14:47] mathieucarbou commented on #4
Yes. I think this report was about to add the option `removeTrailingSpaces` defaulted to true, and some people would like to set it off to keep the white spaces.

[2016-08-16 15:03] mathieucarbou commented on #112
There is no way to "pickup" a file in the project currently because the way it works right now, the plugin requires a java file developed that is responsible to provide properties.

I guess what you would like is a sort of that ?

[code]

[2016-08-16 15:26] mirabilos commented on #112
No, something *much* more complex. I’ll tackle this when I have some time, as I found another couple of “nice things” I could do this way, and come back to you when I have it working, for review (I’m a programmer since the end of the 1980s, I’ve just managed to avoid Java™ until this year when I need to pick it up for $dayjob) and, if you want, integration into your repository (I don’t mind that,

[2016-08-16 15:40] mathieucarbou commented on #112
No problem :-)

Let's go! I am always pleased to see new incoming contributions! I already added you to the contributor list.

So let's do this: when your idea will be developed (and tested), you could send a PR for review for this feature. Perhaps you could just rename the title of this issue and re-used it for your use case ?

[2016-08-18 11:57] #104 closed

[2016-08-23 08:31] mirabilos commented on #112
I’ll open a PR when the time is right, let’s not clutter the Issues list here.

[2016-08-23 08:31] #112 closed

[2016-08-30 08:36] ptahchiev opened #116 "Screwed pom.xml when license does not end in a new line."
Hello,

I have the following `pom.xml`:

[code]

when I run `mvn license:remove` the end result is broken `pom.xml`:

[code]

However if I change the license to end in a new line like this:

[code]

Then it's all good.

My problem is that I cannot change the `pom.xml` because users will have projects generated from maven archetype.

[2016-08-30 08:54] ptahchiev opened #117 "Missing header if not tabs are set."
Hello,

I have a `pom.xml` file with perfectly valid license header but when i run `mvn license:check` it tells me the file has no valid license header. The problem, I believe, is that the plugin expects the license to be indented with some spacebars (or tabs).

Here's my license:

[code]

here's my "invalid" pom.xml:

[code]

and this one the license-plugin recognizes as valid (notice how the lic

[2016-08-31 18:20] jitsni opened #118 "license headers for java files"
The plugin uses `/** ... */` instead of `/* ... */` for license headers in java files.
Some of the IDEs (like intellij) marks them as "Dangling javadoc comment" (rightly so).

[2016-09-01 20:49] jfallows commented on #118
+1 👍

[2016-09-23 12:40] skabashnyuk opened #119 "EPL multiple combination of copyright owners"
Hello
I'm a Eclipse Che developer and I have one question related to license check
EPL looks like this.

[code]

Until some time we have one or two copyright owners.
I've managed this with different templates and with configuration of individual maven
modules. In the case if one module contains several owners we just exclude files
with different owners. Now situation become complex.
So I need to h

[2016-12-05 14:57] TylerJewell commented on #119
** bump **

[2017-01-12 16:09] manoelcampos commented on #118
You can change this behaviour easily just by adding the following lines to the configuration tag of the plugin inside the pom.xml:

[code]

The comment styles are documented at the README.md file.

[2017-01-26 19:21] hsaputra opened #121 "Add support for Scala Doc header style (SCALA_STYLE)"
In Scala, the format of the license header is like this:

[code]

the main different with JAVA_STYLE is the the new `*` is aligned with extra space compare to Java one.

[2017-02-15 22:57] php-coder opened #122 "Support different output formats"
I'm using license-maven-plugin to only check the sources when a new PR is submitted. I didn't find a way to get the messages in the machine-readable form (XML/JSON). It would be great to have such feature because it could be used in automatization and integration with external plugins/bots.

[2017-03-08 00:42] hazendaz opened #123 "Add ability to skip run when using git configuration and git not present"
In cases where a brand new project not yet committed to git or where dev/ops might run build outside of git control, it would be nice to have a setting to skip throwing errors when git variables cannot be calculated.  In this case, check early for presence of git and if not present, skip run writing output once that run was skipped.  Is this possible or will some assistance be needed to possibly b

[2017-03-20 12:13] sgreenslade opened #124 "Allow wildcard year check"
Would it be possible to check that a year number exists, but not a specific year?

Use Case:
As we write code we include the year the file was first created in the header, this differs from the projects inception year.

[2017-04-22 11:20] anton-johansson opened #126 "Ignore items from .gitignore"
Would it be possible to automatically exclude files that are found in .gitignore (maybe SVN ignore too, but that's probably a bit harder, since it's an SVN property)?

I get this currently when building my project:
[code]

Sure, I can manually exclude the .checkstyle file, however, it would be nice to automatically ignore files that aren't in the Git repository.

[2017-05-20 13:32] cvgaviao commented on #119
Well, I have not tried yet, but I think you can achieve this declaring the properties configuration and set all the owners in a pom properties:

    <properties>
        <owner>${license.copyrightOwners}</owner>
    </properties>

[2017-05-21 12:20] skabashnyuk commented on #119
It works if one module contains sources with a single list of  ```license.copyrightOwners```. My problem and the goal of this issue to solve situation if single module contains different sources with different combination of ```copyrightOwners```

[2017-06-12 12:16] hannesd opened #127 "Auto detect type of extension-less files"
I'd like to adhere to https://google.github.io/styleguide/shell.xml which expects bash files to not have any extension. Currently I am not aware of a configuration option that would allow the license-maven-plugin to correctly deal with this situation.

My suggestion would be to add a boolean option "autoDetect" which, if set to true, will try to find some magic line within the first min(n lines, m

[2017-06-23 14:11] RiRomain commented on #124
Same problem for me, that would be a nice feature. And I suppose it's not so complicated to implement, instead of checking against a String it could accept regex pattern.

[2017-06-23 20:38] hsaputra opened #128 "Conflict with plugin org.codehaus.mojo:license-maven-plugin"
When I tried to run `mvn license:check` I got this error which seemed it trigger different plugin:

[code]

Tried to find explicit definition of  org.codehaus.mojo:license-maven-plugin in my pom.xml files with no success.

Anyone seeing this behavior?

[2017-08-05 05:47] xmtsui opened #129 "Internal error in the plugin manager"
when I run mvn command, got following error :
[code]

[2017-08-21 20:35] hazendaz opened #130 "Author Date vs Commit Date confusion"
For those of us using rebasing, we are constantly facing an issue with this plugin getting confused as to what date to use.  So it reverts the year to prior year, then after commit we basically are committing it again.  Can we make this use the commit year instead of author commit date?  That would greatly help out in this situation.

[2017-08-25 14:42] buckett commented on #118
An alternative way to mark these comments is with `/*- ... */ which indicates that they shouldn't be reformatted which is normally the case for license headers:

http://www.oracle.com/technetwork/java/javase/documentation/codeconventions-141999.html#350

This is supported by another license plugin through a property:

http://www.mojohaus.org/license-maven-plugin/update-file-header-mojo.html#useJav

[2017-08-25 14:45] buckett commented on #118
And there's already a PR for this (`/*- .. */`): #115

[2017-09-15 11:40] garagatyi opened #131 "Plugin shows warnings about files without license mapping that are excluded from check"
I excluded some files from checking but the plugin still shows warnings in maven logs about these files.
It would be better to completely ignore these files.

[2017-10-31 11:43] garagatyi commented on #131
Is it expected behavior?

[2017-12-06 09:30] flefevre commented on #119
Do you have found any solution?

[2017-12-06 10:49] ljacomet commented on #127
I second this, adding a different twist to it. In Java projects, you end up having `ServiceLoader` files under `META-INF/services/com.service.class.Name` and it would be great to have some support for handling these as well.

[2017-12-06 10:52] ljacomet opened #134 "Support default copyright format of IntelliJ IDEA"
Currently there are issues with the default copyright injection of IntelliJ IDEA, notably on XML files.
It would be great to support these formats.

The IntelliJ IDEA default is:
[code]

and it has to be configured to become:
[code]
otherwise a license violation is reported.

[2017-12-06 11:25] rnc commented on #26
@mathieucarbou  Is it possible to use HeaderSection to override a default pattern e.g. change the build in APACHE-2 from `Copyright (C) ${project.inceptionYear} ${owner} (${email})` to `Copyright  (C) ${project.inceptionYear} ${owner} ` ? Can this be done in the module XML ?

[2017-12-21 13:03] vmassol commented on #37
FTR the issue is still there and causing problems on the xwiki project where we still have to run this plugin twice everytime in order to get a stable result.

[2017-12-21 13:09] vmassol commented on #37
Note that this is what happens:
* First run: license is added (you need to test without any license)
* Second run: the new line is added

[2017-12-21 13:33] vmassol commented on #37
I've debugged the problem more and you were right and I deeply apologize: the issue is in our code and not in this plugin's code. Sorry about that.

[2017-12-26 12:18] McFoggy commented on #37
Thank you Vincent for the update.

[2018-09-18 09:20] amitbhadra opened #135 "Goal remove doesn't work for all license texts"
I've tried the goal remove when my license.txt file had something like - _Rubbish License File_
It showed in the log that the headers were removed but the in the files, the header was still there.

Then I tried with a standard header in my license.txt like - _******* ... Copyright information .. *****_ , the remove goal worked perfectly.

I'm using release 3.0 and all other configurations are fine

[2018-10-27 19:37] jjYBdx4IL opened #136 "RFE: update-project-license goal"
The codehaus maven license plugin has a goal called update-project-license which not only puts the full license text at the root of the module, but also adds it to the build so it ends up in the final jar. Would be great to have an equivalent for the mycila plugin because I prefer the latter one.

[2018-10-29 13:39] javabeanz opened #137 "Travis build is failing !"
build badge is red, should be green

[2018-11-21 15:30] lucianoprea commented on #43
it will be nice to paste a link to that section in documentation :) thanks

[2018-12-05 12:26] jgerken opened #138 "Using Maven option `-f` with a relative path breaks retrieving copyright year from git"
We are using the property `license.git.copyrightYears` from `license-maven-plugin-git` in our license files. This normally works well, e.g. creating a copyright span `2011-2018`. However, when the Maven build is triggered from a different directory using `mvn -f <path to directory containing the POM> <maven phase>` with a relative path (e.g. `../core`) only the inception year is returned as copyri

[2018-12-07 22:06] ctubbsii commented on #118
`SLASHSTAR_STYLE` should be default for `*.java`

The current default `/**` for Java isn't just "not preferred". It is outright incorrect. Javadocs are HTML markup, so they should be subject to formatting as HTML by build tooling (for example, to remove redundant whitespace in HTML source). Obviously, we don't want licenses to be interpreted as HTML markup and to be reformatted accordingly.

Addit

[2019-01-07 15:55] woj-tek opened #140 "Including filename in the header"
Is it possible to configure the template to include filename in the licence header?

[2019-01-19 01:14] woj-tek opened #141 "Specifying inlineHeader in execution doesn't work"
Specifying `inlineHeader` within execution doesn't work:
[code]
and yield
[code]

[2019-01-23 06:38] beamerblvd opened #142 "Add ability to change header style definitions inline in the POM"
According to the documentation [here](http://code.mycila.com/license-maven-plugin/#changing-header-style-definitions), you can change header style details. For example, for the Java header style, you can change `<firstLine>` from the default `/**` to `/*` (which is necessary for `package-info.java`, to prevent the copyright header from being picked up as the package summary).

The problem is that

[2019-01-23 06:40] beamerblvd commented on #142
Additional, semi-related note: There's an error in the documentation. The example for the XML style override also uses `<javadoc_style>`. Looks like a copy-paste error. I'm assuming that should be `<xml_style>`.

[2019-01-23 07:03] beamerblvd opened #143 "If I define an explicit include, it should take precedence over default excludes"
I added this to my `pom.xml`:

[code]

...because I specifically DO want that file to contain a copyright header. However, because `**/.travis.yml` is in the default excludes, it is excluded no matter what I do. I could disable `useDefaultExcludes`, but then I would have to re-define the 150+ other valid excludes that I want to keep which is not an option for me. So, for now, I'm having to manuall

[2019-01-24 17:03] woj-tek commented on #126
I just came here with the same problem - a lot of times this leads to duplication of `.gitignore` in plugin configuration.

[2019-01-25 07:09] bjakke commented on #126
For that kind of workflow, it might be even better (to have a feature) to just only include git tracked files (e.g. https://stackoverflow.com/questions/15606955/how-can-i-make-git-show-a-list-of-the-files-that-are-being-tracked).

Note that there are also workflows in which you need to apply the plugin to files specifically ignored by .gitignore, for example to set a header for files in target/gen

[2019-02-01 03:55] #38 closed

[2019-02-01 15:36] McFoggy commented on #134
Using version `license-maven-plugin:3.0` and the configuration capabilities we can redefine the format for XML files

__idea-license-header-definition.xml__
[code]

__configuration in pom__
[code]

__IDEA configuration__
![image](https://user-images.githubusercontent.com/1119660/52132324-31b12980-263f-11e9-9f43-c11cc6e47914.png)

add the Copyright to the pom.xml file

__check licenses in maven__
p

[2019-02-01 17:21] sic2 commented on #140
Hi @woj-tek no, it seems that this is currently not possible.

[2019-02-01 17:23] sic2 commented on #137
This might have been fixed by https://github.com/mycila/license-maven-plugin/commit/c3ff9434efa527de3f929b52fde98ae71d440b20

[2019-02-06 02:55] #143 closed

[2019-02-06 03:13] mathieucarbou commented on #142
Hi @beamerblvd : could you please either open a PR or put a link to the documentation issue ? I cannot find what you are talking about...

Changing header style definition is so complex that it would require a lot of change in the plugin and several XML tags to parse and validate.
I won't select the issue for 4.0 but help is welcomed for this one!

[2019-02-06 03:16] mathieucarbou commented on #95
This issue is related to https://github.com/mycila/license-maven-plugin/pull/145 and can be solved in 4.0

[2019-02-06 03:16] #95 closed

[2019-02-06 03:31] mathieucarbou commented on #141
Ho @woj-tek ,

Did you try to use a CDATA section ?

[2019-02-06 03:39] mathieucarbou commented on #140
Hi @woj-tek : try `file.name`.

There are already a bunch of properties available: https://github.com/mycila/license-maven-plugin/blob/master/license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/AbstractLicenseMojo.java#L468-L484

[2019-02-06 04:00] mathieucarbou commented on #138
Hi @jgerken,
Thanks for the report. I would need some help for this one because I do not have enough time to troubleshoot it.

[2019-02-06 04:00] mathieucarbou commented on #137
yes ;-)

[2019-02-06 04:00] #137 closed

[2019-02-06 04:03] mathieucarbou commented on #135
Hi,
Removal is done by detecting a potential existing header. This is done by using keywords and by specifying keywords to look at.

[2019-02-06 04:06] mathieucarbou commented on #134
@ljacomet @McFoggy : ahah I finally have time to look down the issue list and found this one.

Do you think it is worth adding a new style in the plugin for XML ? I.e. `IDEA_XML_STYLE` ?

[2019-02-06 04:13] mathieucarbou commented on #131
Hi @garagatyi : the plugin ignores the excluded file types based on some patterns.
It only logs if it finds some file types that are not supported. Not supported means that you didn't exclude them from the plugin scan, and the plugin does not contain any header style mapping for these file extensions.

[2019-02-06 04:13] #131 closed

[2019-02-06 04:31] mathieucarbou commented on #126
I guys,
Not that I am against the idea (I like GIT also), but the feature requested is rally git-dependant. SVN also has some exclusion mechanism and some other versioning system too.
This is a maven plugin, so it is agnostic currently to the versioning system used related to its configuration.
But I am willing to merge if someone creates a PR and solve it through an elegant way that could also be

[2019-02-06 04:33] mathieucarbou commented on #124
Not using the git extension, this is a request that is quite hard to implement...

[2019-02-06 04:36] mathieucarbou commented on #123
Can't you use the `license.skip` flag and set it to the maven command-line or elsewhere when you detect that there is no `.git` folder ?

[2019-02-06 04:39] mathieucarbou commented on #122
Hi @php-coder,
The plugin uses the maven infrastructure to output and log so there are some formatting out of our control.
Though, we could eventually "bufferize" the logs and at the end of the execution, output the result in some format (json or xml) in a target directory.
This would be a kind of report, that could be used for some reporting tools.

[2019-02-06 04:51] #121 closed

[2019-02-06 04:56] mathieucarbou commented on #119
@skabashnyuk : how could the plugin determine per file which authors to put in a header ?
The request is nice but I don't see how it could be easily implemented without providing some mapping somewhere...
If such use cases are limited in your code-base, you can exclude the files from license maven plugin and manage the headers yourself perhaps ?

[2019-02-06 04:57] mathieucarbou commented on #118
Fixed in https://github.com/mycila/license-maven-plugin/pull/109

[2019-02-06 04:57] #118 closed

[2019-02-06 05:00] mathieucarbou commented on #117
Hi @ptahchiev : your license text should only contains raw text and no indentation. This is handled by the plugin.

Also, for the XMl style, if you do not like the "empty" lines, you can redefine the XML style to remove them.

[2019-02-06 05:00] #117 closed

[2019-02-06 05:02] mathieucarbou commented on #116
you cna use the `EOL` keyword in your style definition to add extra line feed.

[2019-02-06 05:02] #116 closed

[2019-02-06 08:35] McFoggy commented on #134
@mathieucarbou I also use intellij.

Personnaly (and in my company also) on the projects where I use license-maven-plugin I do not configure Intellij to modify the headers ; it is left to the plugin.

[2019-02-06 10:19] ljacomet commented on #134
Given that there is a configuration option, I do not think it is worth having a custom format for this. The only thing that might be worth a change would be to allow line prefixes to contain one non-whitespace character.

But I have no idea how complex this could be, and I no longer work on a project that had this issue so can't commit time to help improve the situation.

[2019-02-06 14:43] woj-tek commented on #126
I think the suggestion, if implemented, is to use generic solution - gitignore was provided as the most popular example. AFAIK from cursory look at the code there are already parts that handle git and svn specific things.

[2019-02-06 15:15] mathieucarbou commented on #126
@woj-tek : yes right but they are extensions used to provided properties for the header templates. They are not meant to modify the scanning behaviour.

The problem with looking at SCM ignore list is that there are several ways to set patterns for each SCM. In example in git you can ignore through the `.gitignore` file, but also through the global `~/.gitignore_global`, and also locally for a spec

[2019-02-06 15:37] McFoggy commented on #126
@mathieucarbou if we wanted we could also purelly delegate to git the knowledge of files to parse.

- `git ls-files` : for files already part of index
- `git ls-files -o  --exclude-standard` : for new files not yet in index
- `git ls-files --other --ignored --exclude-standard` : all files matching _some git ignore_

For sure it would be faster than trying to do by hand.

[2019-02-06 16:50] mathieucarbou commented on #126
For git, using `jgit` and a `TreeWalk` with a specific filter (example: `NotIgnoredFilter`, or its opposite) might work.

We just need to wire things properly in the plugin and set some rules if the user provides its own include/exclude filters on top of that.

Reminder:
1. default exclusions: can be on or off
2. include pattern: defaulted to ** if not set, and if set, any included pattern would "

[2019-02-07 00:56] woj-tek commented on #141
No, I wasn't. The idea was to define two executions (in parent pom) with different types of the licence headers and then activate appropriate one in child project.

And I worked around the issue:
I defined two properties with licence templates in parent and then reference one of those properties in child poms properties:
[code]

IMHO in the end worked out better/simpler.

[2019-02-07 01:05] #141 closed

[2019-02-18 00:16] jgerken commented on #138
I did further tests and it seems it only happens in multi module projects when you build one module while in the directory of another module, e.g.

[code]
called from the `project/modules/A` directory in the following multi module project:

[code]

In such cases, the repository directories and all documents contain the part `project/modules/A/../B` which breaks the `GitPathResolver`. In the end, e

[2019-02-18 07:15] skabashnyuk commented on #119
In our case https://github.com/eclipse/che. One of the trickiest situations was if
there is a jar that contains a lot of files and majority of the classes have one set of authors
however ~10-20 has two or three others. Having individual configuration will look complex.
Putting all that files to ignore(what we are doing right now) has some disadvantiages - like skiping
license check in future,  not

[2019-03-02 18:13] ppazos opened #150 "Tested 1.5.0, 1.5.1, 1.6.1 and all download an HTML in the POM file"
This make a project that depends on this plugin to fail on building. Any ideas on how to solve this?

`~/.m2/repository/com/mycila/maven-license-plugin/maven-license-plugin/1.6.1 $ cat maven-license-plugin-1.6.1.pom`

[code]

[2019-03-03 09:44] McFoggy commented on #150
In central, the poms file are correct : example [1.6.1](https://repo1.maven.org/maven2/com/mycila/maven-license-plugin/maven-license-plugin/1.6.1/maven-license-plugin-1.6.1.pom).

Are you sure you did not download via a non working proxy (on a public wifi, or similar)?

cleanup your mlr `rm -rf ~/.m2/repository/com/mycila/maven-license-plugin` and retry your failing build build to re-download good

[2019-04-01 11:07] brenuart opened #151 "Wrong `license.git.copyrightCreationYear` when the file has more than 10 commits"
Although it is not yet released, I gave a try to version `3.1` mainly for its GIT _creation date_ feature.

I noticed the `RevWalk` is configured by default to consider only the last `10` commits. This is causing an issue when computing the creation date of a file that has more than 10 commits in its history. Consequence is the returned date is not the date of the initial commit as expected. Moreo

[2019-04-01 20:43] ppalaga commented on #151
Are you sure you do not have just a shallow git clone? I have seen this happening on TravisCI that does a shallow clone by default and the solution was to add `git fetch --unshallow` to travis.yml.

[2019-04-01 20:53] brenuart commented on #151
Not as fair as I know.
Every works fine when I set the property `license.git.copyrightLastYearMaxCommitsLookup` to a large value (like `10000`) to simulate _no limit_.

[2019-06-06 14:27] cvgaviao opened #152 "Question: How to setup aggregate in order to not interfere in files from modules not in reactor ?"
I'm trying to set a parent POM in order to do a check for file's license header on all modules include in that root POM.
My problem is that the plugin is processing files that in my vision it not supposed to do.

Initially I did the following:
[code]
But some how it is not finding any problem in any children module's POM.
If I change the config to `<include>*\pom.xml</include>` it will take all di

[2019-06-06 17:10] cvgaviao opened #153 "Duplicated header in POM.xml after run format"
I've set the license-maven-plugin in a profile in order to work with a custom header:
[code]
I also set the mapping for pom.xml:
[code]
But when I try to use it I'm ending with a duplicating header. In the example below I just changed the owner:
[code]

[2019-11-12 12:46] ppalaga opened #156 "Add MVEL_TEMPLATE_STYLE"
The syntax for block comments: http://mvel.documentnode.com/#comment-comment-tag
Here `.mv` is mentioned as the extension of mvel template files: http://mvel.documentnode.com/#include-include-template-file

[2019-11-13 09:22] geoff-wasilwa opened #157 "Update travis-ci JDK version or configuration to build on Trusty distribution"
Travis CI builds fail when trying to install openjdk 7 on Xenial distribution. According to [this ticket](https://travis-ci.community/t/openjdk-7-no-longer-installs-on-xenial/4012) the options are to upgrade openjdk or use Trusty distribution.

[2019-11-15 20:05] ctubbsii opened #158 "license-maven-plugin-git fails when using git worktree"
`git worktree` allows you to check out a branch in a separate directory, so you can have multiple checked out into separate working directories from a single clone at the same time. The license-maven-plugin-git code seems to be trying to check for a folder at the root, called `.git/`. However, when using `git worktree`, this is a file that references the main checkout directory, rather than a dire

[2019-11-25 20:54] bbottema opened #159 "Be able to silence the license output logging"
I have a multimodule project with maaaany classes. My build log is completely polluted with all the format/remove statements per file.

It would be nice to be able to suppress that output in case of success.

[2019-11-28 12:50] McFoggy commented on #159
can't you just skip the execution ?

[2019-11-28 13:06] bbottema commented on #159
@McFoggy Are you suggesting that the solution to silencing the verbose logging output is to not use the plugin at all? Then no, I can't just skip the execution :)

[2019-11-28 15:07] McFoggy commented on #159
so you would expect just a kind of 'resume' instead of the full log, right?

[2019-11-28 15:11] bbottema commented on #159
Something like a 'quiet' property similar to the javadoc-plugin, assertj-plugin etc etc

[2019-12-09 14:01] bbottema opened #161 "-Dlicense.skip breaks Jacoco's report-aggregate in my multi module project"
Hi, first of all thanks for your hard work on this plugin, I use it very happily.

So what does the plugin actually do when the _license.skip_ property is passed from the command line? I'm getting some very weird behavior with Jacoco's aggregate reports.

Take [Simple Java Mail's](https://github.com/bbottema/simple-java-mail) commit 0d3c1fb16736ae512822e6a2528fea59f6596a32 (branch "junit-testing")

[2020-01-03 12:45] McFoggy commented on #159
did you already tried the [quiet](https://github.com/mycila/license-maven-plugin/blob/master/license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/AbstractLicenseMojo.java#L224) property of the plugin?

You should be able to set it via plugin configuration:

[code]

or override via a runtime property `license.quiet` as in `mvn license:check -Dlicense.quiet=true`

[2020-01-03 12:48] bbottema commented on #159
Yeah I found that property I don't remember if I'm still having a problem, I'll close this issue until I remember :P

[2020-01-03 12:48] #159 closed

[2020-02-27 21:48] xenomachina commented on #124
Checking specific years seems way too brittle. Really, I'd just like a way to have it check that the *some* sequence of year ranges was provided. A regex something like:

    (\d\d\d\d)(-\d\d\d\d)?(,(\d\d\d\d)(-\d\d\d\d)?)*

Forgetting to include a copyright header is easy to miss in code review, but adding a copyright header with a bogus year, and having that survive code review, seems very unlik

[2020-05-18 13:03] AnujDwiv opened #162 "Failed to execute goal com.mycila:license-maven-plugin:3.0:check (license-headers) on project validation-api"
while compiling the source code of Validation API 2.0.0 Final. Build is failing with the following error :

[ERROR] Failed to execute goal **com.mycila:license-maven-plugin:3.0:check** (license-headers) on project **validation-api**: Execution license-headers of goal com.mycila:license-maven-plugin:3.0:check failed: **Error creating XMLDoc. Please verify that the input source can be read and is we

[2020-05-21 09:17] bxf12315 opened #163 "param ${license.git.copyrightCreationYear} is not work"
On version 3.0, ${license.git.copyrightCreationYear} can not get the time from context.
license header:
Copyright ${license.git.copyrightLastYear} ******, Inc. and/or its affiliates.

[2020-05-25 13:44] bxf12315 opened #164 "please release 3.1!"
Recently, I want to use "${license.git.copyrightCreationYear}".
So, Please release 3.1
Thanks a lot!

[2020-05-26 01:42] #163 closed

[2020-06-05 20:22] #157 closed

[2020-06-09 11:02] #134 closed

[2020-06-24 19:29] hazendaz opened #174 "Major issues with excludes and directory parsing on 4.0.rc1"
Release 4.0.rc1 is really buggy in general.  The logic used to parse the location of the license file fails if it uses full path to header as it flips the path arguments between windows / *nix style.  That logic is easy to overcome by setting use of 'basedir' from the project instead and just simple name for header file.  It needs fixed though.

The worst issue I've found so far is that excludes d

[2020-06-24 19:41] adamretter commented on #174
I am sorry to hear that. The number of test cases was increased between 3.0 and 4.0.rc1. 4.0.rc1 passes all tests that 3.0 passed. That is not to say that we might not need some more tests ;-)

Does this also happen with the previous 3.0 version? Can you provide an example?

Again can you provide an example to reproduce this please?

[2020-06-24 21:16] hazendaz commented on #174
Hi @adamretter I'll try to spend a few cycles later tonight to get a demo up on open source project that is similar in my use case.

Prior version 3.0 worked perfectly.  The issues seem to be in the split for deprecated items vs new license sets.  I took some time looking at code.  I sort of think I know what the problem is but havent' seen that in the code yet.  I'll get this cloned tonight and s

[2020-06-25 02:16] hazendaz commented on #174
I suspect the issues is in the 'convertLegacyConfigToLicenseSet' method.  I do not have a demo going yet to prove it but I do suspect maven sets 'header' in both license set and abstract license mojo.  They are both called the same name from the property argument as 'license.header'.  Therefore I don't see how maven would know which is which really needed and probably seeds them both.  The check i

[2020-06-25 03:31] mathieucarbou commented on #174
Thanks a lot @hazendaz for your report. Let us know when you have something more concrete we can use.

Thanks @adamretter for jumping in ;-) What do you think of updating the travis file to add multi OS support for the build ? We could ignore the windows failures until the tests are fixed. To my knowledge, we have never ran the test suite in a continuous windows build.

Ref: https://docs.travis-ci

[2020-06-25 03:31] mathieucarbou commented on #164
4.0.rc1 released ;-)

[2020-06-25 03:31] #164 closed

[2020-06-25 03:32] mathieucarbou commented on #162
your XML document might contain an incorrect character at the beginning.

[2020-06-25 03:33] #162 closed

[2020-06-25 03:34] #150 closed

[2020-06-25 03:38] mathieucarbou commented on #152
you cannot used `aggregate>true</aggregate>` with `<inherited>true</inherited>` : even if technically this is allowed, logically it does not make any sense since al sub modules would try to run the license check again with all their sub modules again.

aggregate treats the root project as 1 module. All the files within it will be checked (subject to include/exclude rules)

[2020-06-25 03:38] #152 closed

[2020-06-25 16:05] mathieucarbou commented on #156
@ppalaga : can you send a quick PR ?

[2020-06-25 16:23] mathieucarbou commented on #161
Hi @bbottema ,
do you still have the issue ?

[2020-06-26 07:51] #88 closed

[2020-07-03 10:34] adamretter commented on #174
@mathieucarbou I am have sent a PR to add multiple platforms to Travis CI - https://github.com/mycila/license-maven-plugin/pull/176

I am just wondering what you think about @hazendaz idea of moving to a newer minimum Java version, i.e. JDK 8?

[2020-07-03 11:51] mathieucarbou commented on #174
Yes, completely agree! JDK is a good choice 👍

[2020-07-03 13:04] hazendaz commented on #174
I'm hoping to bring a nice caching solution this way soon.  I rewrote what we use in formatter-maven-plugin which under already formatted situation drops time to process to almost nothing.  I'm going to try to apply that in full here.  The essential idea is that the files are hashed with google guava and added to cache file.  Then before trying to add in the header, the file is checked to confirm

[2020-07-03 17:52] adamretter commented on #174
@hazendaz Any further luck on some details of how to reproduce this issue you opened?

[2020-07-04 21:18] hazendaz commented on #174
The first issue with inability to find the header file, config as is on existing project simply no longer works.

clone https://github.com/Waffle/waffle, update to latest version in 'source/jna/pom.xml'.  Results are as follows.

[code]

Configuration is this

[code]

Changing configuration break 'header' into basedir and header solves the issue. This is the first issue that needs to be addressed

[2020-07-04 21:50] hazendaz commented on #174
Sample above also completely forgets to exclude the 3 noted exclusions.  That IMO is due to using same configuration for both legacy and new in annotations so maven should be populating both and as a result checking for legacy vs new is checking one of the items and then overriding all.  Thus it fails to work unless defined twice.

[2020-07-12 21:25] hazendaz commented on #174
Looks like last master resolved the issue I had on windows.  Subsequently, the work around I was trying to use was reprocessing all files in the path leading to slow times.  So now that the main issue is solved, I am closing this as completed from my perspective.

[2020-07-12 21:25] #174 closed

[2020-07-17 09:25] jponge opened #180 "Skip files with another header in license:format"
Hi!

I'm working on a code base where some files come from another project, so these files already have a license header.

Running `mvn license:format` overwrites the original headers in these files unless I manually exclude them in the plugin configuration. Is there a smarter way to skip files with existing headers?

Thanks

[2020-07-29 08:39] bartekkocik opened #181 "Allow for passing header text as text in plugin not only file"
For multi module Maven project I would like to have possibility to configure in parent project plugin with licence text definition which can be inherited without relative path to licence file and be able to use this configuration from any subprojects. Now when I'm building subproject and configuration was in parent pom I'm getting error that licence file can't be found. Licence file path is relati

[2020-07-29 12:29] mathieucarbou commented on #181
You already can. You can use the aggregate option to true and inherited maven option of the plugin to false.

[2020-08-10 09:19] oliverlockwood opened #182 "<inlineHeader> is not well documented"
It took some digging, including looking into the history of closed issues, to realise that I could achieve what I wanted to using this plugin, with the `<inlineHeader>` configuration tag.

I think this capability could be documented much better.  I'm happy to put together a PR to improve this if that would be of interest.

[2020-08-10 11:48] mathieucarbou commented on #182
yes please 👍  Any help is greatly appreciated!

[2020-08-15 13:00] cvgaviao opened #183 "excludes inside licenseSet is not working as expected"
I've moved to 4.0 and then, following the read.me, I moved includes and excludes to a single LicenseSet.
[code]
[code]

Doing this made my build fails due to a non-mapped extension.

I've returned the excludes to the old configuration tag and then my build has worked again.

[2020-08-16 21:01] hazendaz commented on #183
I think the issues are fixed in the unreleased 4.0.rc2, I believe you tried 4.0.rc1 to be clear.

[2020-08-16 21:02] hazendaz opened #184 "Please release 4.0.rc2 to solve some of the repeated open issues / allow for further testing"
Can we get 4.0.rc2 released so we can further test?  I think a few folks are running into same issues I did which I think are all resolved in 4.0.rc2.  I'd like to test more in large scale projects and I cannot bring in snapshots or clone as needed in the case I need to test.  I'm sure others are in same restricted boat I am :)

[2020-08-16 21:32] mathieucarbou commented on #183
@cvgaviao : are you able to locally build the current project's snapshot and try it to confirm (or not) ?
Thanks!

[2020-08-16 21:32] mathieucarbou commented on #184
Yes will do right away!

[2020-08-16 21:33] hazendaz commented on #184
Great @mathieucarbou, I'll jump on testing this pretty heaving this coming week and will report back any findings :)  Appreciate it.

[2020-08-16 21:54] mathieucarbou commented on #184
done! will be available soon.

[2020-08-16 21:54] #184 closed

[2020-08-16 22:05] hazendaz commented on #184
Sweet!  Thanks so much!

[2020-08-19 00:01] cvgaviao commented on #183
@mathieucarbou and @hazendaz, sorry to answer late.
I don't think that 4.0.rc2 fixed it. I've upgraded right now to it and just moved the `includes` and `excludes` back to under `<licenseSet>` and my project has failed to build again.

[code]

[2020-08-19 00:45] mathieucarbou commented on #135
closing this old issue

[2020-08-19 00:45] #135 closed

[2020-08-19 00:47] mathieucarbou commented on #138
@jgerken is the issue still there ? is your proposal to open a PR still valid ?
Thanks!

[2020-08-19 00:50] mathieucarbou commented on #151
@brenuart  @ppalaga : I think I will close it: I do not see any way to fix that and there is a workaround, or misconfig here ?

[2020-08-19 00:53] mathieucarbou commented on #153
not an issue: plugin is copying teh exact same number of space character from the `inlineHeader ` section.
We do not dynamically compute the number of space characters to add. This is given by the user config.

[2020-08-19 00:56] mathieucarbou commented on #161
closing since no feedback and no reproductible test given

[2020-08-19 00:56] #161 closed

[2020-08-19 00:57] mathieucarbou commented on #158
please provide a way to reproduce the issue or unit test or even a PR to fix that.
Will close otherwise.

[2020-08-19 00:58] mathieucarbou commented on #180
no, you need to exclude files you do not want the plugin to touch.

[2020-08-19 00:58] #180 closed

[2020-08-19 00:58] mathieucarbou commented on #181
you can even use inlineHeader option.

[2020-08-19 00:58] #181 closed

[2020-08-19 00:59] mathieucarbou commented on #183
@adamretter : any help would be appreciated here ;-) thanks!

[2020-08-19 01:19] ctubbsii commented on #158
To reproduce:

1. `git worktree add ../someotherdirectory HEAD`
2. `cd ../someotherdirectory`
2. add `license-maven-plugin-git` as a dependency as described in https://github.com/mycila/license-maven-plugin/blob/master/license-maven-plugin-git/README.md
3. `mvn package`
4. observe all the stack traces

<details>
<summary>Stack Traces (click to expand)</summary>

[code]

</details>

[2020-08-19 01:31] ctubbsii commented on #158
I believe this is an upstream JGit bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=477475

[2020-08-19 15:39] jgerken commented on #138
@mathieucarbou yes, the issue is still there with 4.0.rc2. My proposed fix for 3.0 does not compile with current master - the `baseDir` variable was renamed to `defaultBaseDir` due to the new license sets I guess. I think I need to move my fix to the sets and it should still work. Need to have a deeper look into the issue. And yes, my proposal to open a PR is still valid. I am not sure if I find t

[2020-08-20 10:56] adamretter commented on #183
@mathieucarbou I will try and take a look tonight

[2020-08-20 10:58] adamretter commented on #183
@cvgaviao when you say:

Can you share the entire configuration and/or pom.xml?

Also can you share the details of the failure output by mvn?

[2020-08-20 13:53] cvgaviao commented on #183
@adamretter, I think that the issue is in the check mojo that is triggered when I try to 'install' the project. Seems that it is not respecting the excludes/include. I will update the issue to include the profiles that I'm using...

[code]
[code]

[2020-08-27 22:20] jgerken commented on #138
The Windows test gave me a little trouble until I noticed that paths are always logged with `/` as separator. Now the PR is ready for review :)

[2020-09-18 07:39] bxf12315 commented on #128
@mathieucarbou If I can not remove org.codehaus.mojo plugin from parent, how to deal with the situation. That means, in my maven project have mylica's plugin, but it's parent has org.codehaus.mojo,I can not remove it.

[2020-09-18 12:42] #138 closed

[2020-09-28 21:41] jam01 opened #187 "underscore in java package name"
According to https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html underscores can be expected in package names. The JAVAPKG style first line pattern does not include underscore and so the license is not applied properly.

Suggesting changing
` "^package [a-z]+(\\.[a-z][a-z0-9]*)*;$"` to `  "^package [a-z_]+(\\.[a-z_][a-z0-9_]*)*;$"`
I can propose a PR, just wanted to make sure the

[2020-10-20 13:14] vpinna80 opened #189 "Add asciidoc comment style support"
As of now, Asciidoc files are not recognized by the plugin (.adoc file extension).
Though adding it as a custom format is possible, having it defined a priori could be helpful.

Link to [Asciidoc comment format](https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#comments)

[2020-10-20 13:16] vpinna80 commented on #189
Example of the header I'm using right now.

[code]

[2020-11-24 18:28] yalamber opened #190 "Is there any way to see files which causes Some files do not have the expected license header error"
Hello,
I am trying to build one project using this plugin and got below error
`org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.mycila:license-maven-plugin:3.0:check (default) on project ui-ngx: Some files do not have the expected license header`
Is there any way we can see which files is missing license header.

[2020-12-01 18:04] flowchartsman commented on #190
does this do what you want?
`mvn license:check |grep "Missing header in:"`

[2020-12-14 17:12] emmberk opened #191 "license:remove Doesn't Work for XML_PER_LINE"
Plugin definition:
[code]
`license:check` and `license:format` appear to work, but `license:remove` doesn't actually remove any of the headers.

[2020-12-14 19:36] emmberk opened #192 "Unable to Configure XML_PER_LINE Without First and End Lines"
I'd like an xml header that looks like
[code]
but the default `XML_PER_LINE` style puts a blank line before and after the header line
[code]
There doesn't appear to be a way to define a custom `headerDefinition` that doesn't include those extra lines because `firstLine` and `endLine` are required.

[2021-03-30 15:26] blindenvy opened #195 "Plugin fails when processing a git submodule folder"
The plugin (3.0 and 4.0.rc2) fails when processing a git submodule folder. The build will complete successfully but several errors are thrown and garbage is presented to the terminal. Documents are also attempted to be printed for some reason.

I cannot include a full stack trace but here is a partial one with some info redacted:
[code]

the garbage that was printed to terminal:
[code]

I updated

[2021-04-23 22:22] rremer opened #203 "design discussion: goal for per-dependency license enforcement"
I have a need at my company which I think is somewhat common, and think this feature would fit well into the maven-license-plugin.

Feature:
* take a java resource uri with a list of allowed package/version/regexes and licenses
* optionally warn/list/fail a build on license matching against those packages

This should not conflict with the existing check goal which ensure that all your source file

[2021-04-24 02:15] mathieucarbou commented on #203
Hi @rremer !
This need already popped up in the past, not described as good as you are describing it right now but it was a similar need.
Of course this would be a nice addition to the plugin and if you are willing to take on the work I am opened for that.
I will be able to review PRs and also release as needed if your testing require to have some released artifacts from central.

Regarding the ne

[2021-04-30 21:18] rremer commented on #203
Been musing, familiarizing myself with this project code, and getting a greenlight from my current employer to take a stab at this on-the-cluck; should be able to start coding next week, but will let you know either way @mathieucarbou (and thanks for your support/encouragement!).

I agree just having 'check' would be handy, and minimize how much plugin config folks would have to write to make use

[2021-05-03 22:39] mathieucarbou commented on #195
Hello @blindenvy ,
I would really love to go but this is really hard with such stack trace.
With the limited time everyone has supporting oss projects we rely a lot on people to make the bet efforts they can when reporting an issue.

Could you please give us more information like he output of mvn -version and please a readable stack trace ;-)

Also please describe your plugin configuration.

Thank

[2021-05-03 22:47] mathieucarbou commented on #203
Hello @rremer !

I have read your answer 2 days ago but forgot to answer. Sorry!

I agree with you that the hierarchy of the mojos right not does not fit what you need to do because the abstract class is heavily doing pre processing stuff related to license and scanning and passes the execution to the sub-plugins, either a check or format...

So yes indeed, to be able to reuse some of the paramete

[2021-05-03 23:07] rremer commented on #203
re: Abstract refactor, my thinking exactly
re: scope - interesting point. Yeah that should definitely be a configuration param, although `provided` would obviously not be an option, and `system` *could* be an option and just up to the dev to ensure that their CI or local had the same jars that they'd be running with. Obviously `compile` and `test` would be the only interesting and generally-useful

[2021-05-03 23:32] mathieucarbou commented on #203
I am sceptical about the test scope... I.e. where I work, we are really checking licenses of what we put inside our distributed zip file (packaged application). But what is used for testing is less strict and we do not check licenses there, except for example in the case where a license would prevent commercial use. What I mean is that the license check for the distributed application might be usu

[2021-05-03 23:58] rremer commented on #203
For the test scope, we're just discussing the default here which I'm on the fence about. I don't think we disagree about it needing to be a configuration parameter in the mojo, and that it would need to be a list of scopes it took. I realized also that I think most folks care about `runtime` more than anything, it implies what your app/lib is *shipping* which is when you'd get into legal trouble (

[2021-05-04 00:11] mathieucarbou commented on #203
Exactly 👍

I don't know either for the api: because I have only used them in xml. But if several plugins are supporting such pattern, this should be already in the api I guess. Probably this should be similar to the include exclude rules in this project that are using the maven api and ant-like pattern. All of this is part of the maven api. The goal is to not disrupt the user experience with a new

[2021-05-05 12:26] mathieucarbou opened #204 "Support extension-less files"
See comment: https://github.com/mathieucarbou/license-maven-plugin/pull/198#issuecomment-831576463

[2021-05-05 12:27] mathieucarbou commented on #204
@hazendaz @peterlynch : FYI  I have created this issue for this "new" feature

[2021-05-12 19:25] FrederickSlama opened #205 "Auth for reading <header> from password protected artifactory repo"
Does this plugin provide a mechanism to fetch a header from a password protected repository?

[2021-05-13 23:12] hazendaz opened #206 "Maven release plugin 3.x considerations due to shallow checkout"
Hi @mathieucarbou ,

Maven release plugin 3.0.0-m1 changed to shallow clones [here](https://issues.apache.org/jira/browse/MRELEASE-993).  There were some bugs with 3.0.0-m1 so I had not noticed the situation until now with 3.0.0-m4.  Basically during the 'release:perform', this plugin will fail on every call as it cannot determine the commit.  I confirmed the issue is present with both 3.0.0-m1 an

[2021-05-13 23:35] mathieucarbou commented on #206
Hi @hazendaz !
What you do mean by _it cannot determine the commit_ ? You are talking about the optional MLP git extension I guess ?

[2021-05-13 23:37] mathieucarbou commented on #205
From a remote URI yes, but it has not special password handling (i.e. to not show a potential password used to fetch the resource)

[2021-05-13 23:39] hazendaz commented on #206
@mathieucarbou Yes, sorry just that situation.  When it tries to get the timestamps using git extension (jgit).

[2021-05-14 00:25] mathieucarbou commented on #206
What I will say could still be subject to an argumentation with pros and cons, but I think that this change of (global) behaviour might also impact other plugins relying on git history before. I would find strange also that Maven forces all plugin developers to update their plugin because of a new clone strategy.

IMO, [the way they have coded the change is completely stupid and rackless](https://

[2021-06-01 20:04] FrederickSlama commented on #205
Having issues supplying a user:password (or user:token)...

 <header>https://pquill:groot@artifactory-gotg.ego.net/artifactory/infinity-release-local/foo/boo/somefile.txt</header>

This same URL works when supplied to curl.  Not sure if this is pilot error or something else going on.
The header for multiple projects is stored in artifactory for central administration.

[ERROR] Failed to execute go

[2021-06-01 20:28] mathieucarbou commented on #205
Like I said, current code does not handle authentication in a URL. The code is currently relying on the JDK api and URL connection. To support Basic auth like you want, we would need to update the code to add a `Authorization: Basic` request header. This is not complicated to do, just currently not supported.

Besides, if we support that we would probably support it by adding a username/creds opti

[2021-06-01 20:31] FrederickSlama commented on #205
I see. I misread.  And yes,  support via maven settings would be a cleaner method for supporting such a feature. In the meantime I can create a public/ro repository to workaround the issue.

[2021-06-01 20:45] FrederickSlama commented on #205
thx

[2021-06-01 20:45] #205 closed

[2021-06-04 14:48] sparkhi opened #208 "v4.1 (as well as v4.0) wrongly identifies the header as SLASHSTAR instead of JAVADOC and fails the checking"
Observed on one of our projects.

When using v3.0 of the plugin, everything was fine, however after moving to 4.1, the checks were failing on some of the headers. I have a feeling that it probably happens based on what is matched first
[code]
Our headers are javadoc style but that's probably enough to match the SLASHSTAR_STYLE as well, when this happens, the comparison fails indicating an extra *

[2021-06-24 16:45] pipelineRat opened #209 "Setting DefaultBaseDir to a directory that may not exist fails the plugin"
Setting DefaultBaseDir to a directory that may not exist causes the plugin to fail.

I have a controlled parent pom that several projects inherit from.
I have configured the plugin DefaultBaseDir to  "${project.basedir}/src" or even "${project.build.sourceDirectory}.

Most projects are multi-module.
Often with the top level module not having a source directory.

Because this directory does not exi

[2021-06-24 23:18] mathieucarbou commented on #209
Thanks for the report. I will have a look.
You are also welcomed to send a PR if you can.

[2021-07-07 17:02] rnc commented on #206
@mathieucarbou I went down the skip license route with `releaseProfiles` route (see above linked PR)

[2021-07-29 05:52] #119 closed

[2021-08-01 16:07] matusfaro opened #212 "Custom header definition does not allow empty strings"
Validation for a custom header definition is stricter than definitions inside `HeaderType`. Particularly, all tags cannot be empty.

For example, trying to replicate SINGLE_LINE_DOUBLESLASH_STYLE, I receive the following exception:
[code]

Fix is to remove the following lines from `HeaderDefinition.java`:`setPropertyFromString`:
[code]
And just let the `validate` method perform the same validation

[2021-08-01 16:11] matusfaro commented on #212
Forgot to mention: leaving the tag out completely causes a NPE:
[code]

[2021-08-01 16:18] matusfaro commented on #212
Ah never mind, I blinndly copied this comment:
https://github.com/mathieucarbou/license-maven-plugin/blob/7e479775f599397ec1e7dc4030fa51b3eea87277/license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/HeaderType.java#L32
which includes the non-existent property `endLineDetectionPattern` as oppose to the correct `lastLineDetectionPattern`

[2021-08-01 16:18] #212 closed

[2021-08-19 08:44] shathor commented on #208
I experienced the same or similar issue in our project. Even after `format` the check `check` fails for every *.java file.
Another project did fine however for some reason with the exact same plugin configuration.
As a workaround I explicitly declared:

[code]

[2021-08-20 17:18] akomakom opened #213 "XML files become corrupted if existing license header closes comment on the same line"
Running `license:format` using `4.1` **corrupts XML files** if the existing (in XML file) license header looks like this:

[code]

It works correctly if the license header looks like this: (close comment on a new line)
[code]

With the first snippet, the resulting file looks like this:
[code]
(The last xml close tag is the only survivor)

Config:
[code]

FYI:
* Same behavior with `3.0`
* Problem d

[2021-09-01 13:32] #213 closed

[2021-09-01 13:52] #203 closed

[2021-09-01 15:04] mathieucarbou commented on #209
I thought about the use case...

The `defaultBaseDir` is a property that has to be set because it determines from where the plugin will execute itself. When it is resolved, it means its execution is required. `defaultBaseDir` is also used to derive the license baseDir in case a module has multiple licenses.

In other words, when the license plugin execution is wanted, `defaultBaseDir` is required

[2021-09-01 15:07] mathieucarbou commented on #195
Duplicate of #206

[2021-09-01 15:07] #195 closed

[2021-09-02 12:49] blindenvy commented on #195
This is how maven and the plugin is printing the stack trace, I'm not sure what you're expecting on how to clean this up and make it more readable.

The version of maven that was used when this was experienced is:
`Apache Maven 3.6.2 (40f52333136460af0dc0d7232c0dc0bcf0d9e117; 2019-08-27T11:06:16-04:00)`

[2021-09-07 15:12] mathieucarbou commented on #59
Closing, as it is now possible to have that with license sets.

[2021-09-07 15:12] #59 closed

[2021-09-07 15:14] mathieucarbou commented on #106
please provide a PR

[2021-09-07 15:29] mathieucarbou commented on #124
I still don't have any idea how to correctly (not a hacky way) implement that and also solve @afranken's issue in [S3Mock](https://github.com/adobe/S3Mock/issues/241).
Looking at the git creation time seems the best choice atm...

[2021-09-07 15:38] mathieucarbou commented on #130
only author names and emails are fetched from the git api.
i will close this issue, please feel free to re-open it with a test case and ideally a PR if you see a bug.

[2021-09-07 15:38] #130 closed

[2021-09-07 15:39] mathieucarbou commented on #127
in relation to #204

[2021-09-07 15:41] mathieucarbou commented on #204
in relation to #127

[2021-09-07 15:44] mathieucarbou commented on #136
this can be done already by controling which file is included in the jar file. This is not up to the MLP to handle packaging.

[2021-09-07 15:44] #136 closed

[2021-09-07 15:46] mathieucarbou commented on #208
There war a breaking change from v3 to v4. The license header in a java file should not be placed in some javadoc-style comments: it could trigger some javadoc validations.

[2021-09-07 15:46] #208 closed

[2021-09-07 15:46] #151 closed

[2021-09-07 15:55] mathieucarbou commented on #182
Can you please provide a PR in the README file 👍

[2021-09-07 15:58] mathieucarbou commented on #190
Duplicate of #122

[2021-09-07 15:58] #190 closed

[2021-09-07 16:03] mathieucarbou commented on #183
It is failing because if `<failIfUnknown>true</failIfUnknown>`. And the files are not excluded probably based on the pattern matching expression. This is an ANT one: the project is using the Maven default API (ant-like) to select files and include/exclude them. There is no custom code here involved in file selection within MLP

[2021-09-07 19:53] mathieucarbou commented on #26
yes, by redefining the license

[2021-09-11 14:52] mathieucarbou opened #223 "Add Markdown comment support"
https://stackoverflow.com/questions/4823468/comments-in-markdown

[2021-09-11 14:55] #187 closed

[2021-09-11 15:04] #189 closed

[2021-09-12 09:42] mathieucarbou commented on #223
Probably need to be abandoned : I  saw some parsers are not processing well some workarounds listed...

[2021-09-12 15:04] #182 closed

[2021-09-12 16:59] #156 closed

[2021-09-14 11:46] mathieucarbou commented on #122
Implemented in PR https://github.com/mathieucarbou/license-maven-plugin/pull/227.

See report examples when running `ReportTest`

See updated plugin doc: https://mycila.carbou.me/license-maven-plugin/reports/4.2-SNAPSHOT/license-maven-plugin/plugin-info.html

[2021-09-14 15:35] #122 closed

[2021-09-18 07:18] mathieucarbou opened #229 "GA to generate website"

[2021-09-18 19:37] #229 closed

[2021-09-18 20:21] mathieucarbou commented on #158
I wasn't able to reproduce, but I've updated jGit (#231).

[2021-09-18 20:42] mathieucarbou commented on #192
Hi @emmberk : the plugin allows to change the definition of a style. You could redefine `XML_PER_LINE` to just remove the `EOL` in the definition. From the quick test I did by removing them in the code, it works

[2021-09-18 20:42] #192 closed

[2021-09-18 21:00] mathieucarbou commented on #191
thanks! yes its a bug, I can reproduce!

[2021-09-18 21:04] #206 closed

[2021-09-19 17:21] #191 closed

[2021-09-19 17:30] #26 closed

[2021-09-19 19:35] mathieucarbou commented on #142
Implemented in #237 for release 4.2 (ability to define styles inline)

[2021-09-19 19:42] #142 closed

[2021-10-08 13:25] phax opened #239 "Support for XQuery comments"
Hi,
Eventually you can support for XQuery comments as well.
Specification: https://www.w3.org/TR/xquery-31/#comments
[code]
Thanks!

[2021-10-28 17:37] VenaNocta opened #241 "Filter Support for undefined licenses in dependencies"
Currently if a dependency doesn't have an license defined it prints just an error-code and omitts that there are some unknown dependency-licenses.

[code]

*Request:*

+ provide a filter for *undefined* licenses to APPROVE or DENY them
+ don't skip execution of `ARTIFACT_PATTERN` filter

[2021-11-05 03:02] ctubbsii commented on #158
@mathieucarbou Thanks for updating jGit. But, it looks like this isn't fixed upstream yet. I have verified that this remains a problem, up through 4.2.rc1. Here's a way you can reproduce using this (license-maven-plugin) repo:

1. Check out this repo, and use current "master" branch
2. Add the most recent version of license-maven-plugin-git as a dependency of license-maven-plugin to the pom.xml:
[

[2021-11-07 18:26] mirabilos commented on #78
@bot see https://github.com/mathieucarbou/license-maven-plugin/issues/78#issuecomment-240091273

[2021-11-14 12:29] #209 closed

[2021-11-14 12:29] #183 closed

[2021-11-14 12:29] #4 closed

[2021-11-14 12:29] #106 closed

[2021-11-14 12:29] #123 closed

[2021-11-14 12:29] #127 closed

[2021-11-14 12:29] #124 closed

[2021-11-19 13:43] cns-solutions-admin opened #242 "Header is added instead of being replaced, if formats differ"
If in multi line patterns the before pattern changes, the header is added instead of being replaced.

If the custom header style looks like this:

/************
**
************/

and the current header is

/**
 *
 */

then only the first line is replaced with the new header.

[2021-11-19 14:54] cns-solutions-admin commented on #242
Fixed in PR #243 by introducing a new optional regex.

[2021-11-25 22:26] #223 closed

[2021-11-26 12:36] mathieucarbou commented on #239
Yes! Please open a PR, this is really easy to do as long as you love regex 😝

[2021-11-26 12:46] mathieucarbou commented on #78
@rnc @mmoayyed @mirabilos : Stable Bot automatically mark and closes stale issues. If nobody resurrects or open a PR for that issue, it will just be closed. I understand the feature (nice to have IMO), but as an OSS projects and not having any bandwidth for such nice to have thing, people in need also are welcomed to contribute.
Thanks :-)

[2021-11-26 12:49] mathieucarbou commented on #241
@rremer : could you please have a quick look ? I suspect this is caused by the introduction of the dependency enforer plugin ?

[2021-11-26 12:51] mmoayyed commented on #78
@mathieucarbou I perfectly, understand. From my perspective, you're welcome to close this issue. We are no longer using this particular feature or plugin, and have moved on for about 6 years.

[2021-11-26 13:15] mathieucarbou commented on #242
Ok I understand a bit more... Let me review...

[2021-12-16 15:46] sonicsdoom opened #249 "Remove / modify custom license not possible"
I have added a custom license text header, unfortunately I cannot remove it using the "remove" function.

If I change the license text and call the function "format" again, the old header is not overwritten but extended by the new license text.

If I use a standard license, the functions "remove" and "format" work normally.

My maven-config:

[code]

[2022-01-12 09:14] mathieucarbou opened #252 "Detect shallow clones for git plugin to avoid reading a wrong date range (which first year being wrong)"
`git rev-parse --is-shallow-repository` which will print false (not shallow) or true (shallow):

See [#240](https://github.com/mathieucarbou/license-maven-plugin/pull/240#issuecomment-1010734242) for a use case and problem.

[2022-01-13 10:48] rvesse commented on #252
I took a quick look at this yesterday, it seems JGit does expose some information that may allow detecting shallow clones without having to shell out to `git` at all but I didn't get to the point of being able to actually test that

One problem is that if people are using the plugin in their CI environments then they're almost always going to do a shallow clone.  Therefore the plugin will pretty m

[2022-01-13 13:55] hazendaz commented on #252
I use this in CI all the time, it does require some special handling, mainly just checking out the branch that is being run when this is needed to run.  I know recently some documentation was added due to the release plugin being changed to shallow cloning that simply cannot be gotten around.  But this certainly can work on a shallow clone by checkout out the associated branch along with a fetch t

[2022-01-16 01:27] dbwiddis commented on #252
Huh, I looked and didn't see this, so I did the shell version in #253.  Could you point me to where that was, @rvesse ?

Also, an alternative option to detecting shallow --> fail/skip, is explicitly executing `git fetch --unshallow` (or a Jgit equivalent) in the cases where either of the file-creation substitution patterns are used.

[2022-01-17 01:43] hazendaz opened #282 "Rewrite all tests to junit jupiter 5"

[2022-01-17 10:34] rvesse commented on #252
@dbwiddis In the constructor of `GitLookup` the code already calls `this.repository.getObjectDatabase().newReader().getShallowCommits()` which according to the comments there is a workaround for a concurrency bug in JGit.  That actually returns a `Set<ObjectId>` which could be stored and then later consulted to see whether a given commit is shallow

But like I said I've no idea if that actually wo

[2022-01-17 18:03] dbwiddis commented on #252
Wow, I had seen that line but ignored it as a "workaround".  In fact that `Set<ObjectId>` is exactly the contents of `.git/shallow`, so an empty set means unshallow.  I'll update my PR.

[2022-01-17 18:38] dbwiddis commented on #252
Related: The contents of `.git/shallow` (and thus the same `ObjectId`'s in the set) are the hashes of the "oldest" commits on each branch.

So if iterating from `HEAD` (which we do for year of last change) we could stop when we reached that commit.  However, for any single file (other than files involved in that commit) it could be skipped over in iteration.  We could in theory compare timestamps

[2022-01-21 14:45] astubbs opened #290 "Print a diff or explanation showing license rule or resolved expected license vs acutal upon failure"
ATM the plug-in only says the header is missing in certain files. It would be great to instead show actual vs expected.

Example, say there's a single letter or number wrong. Useful for debugging issues. We've had a confusing issue with the latest year tick over where the year is expected to be changed, but when it is, it still fails. Could be a confusing issue with git file modification dates vs

[2022-01-21 14:46] astubbs commented on #252
Typo in issue title shadow vs shallow?

[2022-01-25 13:04] phax commented on #239
No time yet - it's a nice to have and no must, so priority for me is low (and recursive RegEx are not my favourite ;-) )

[2022-01-25 23:29] philippn opened #292 "Add feature to ignore certain commits"
Hi there,

First of all: thanks for this great plugin, it's been really helpful to me.

Now here is a feature request that would help me great deal: Suppose we have a large scale old project that is a few years old. So last year, I have run your plugin to cleanup the headers for all those files, that worked nicely. However, ocassionally, new files are added to the repository, that are also missing

[2022-02-21 18:19] #249 closed

[2022-02-24 22:08] astubbs opened #298 "Seems to be very slow on OSx, but extremely fast on Linux"
On OSx just takes forever, but always works. Anyone else seeing this or have any debugging / diagnosis tips?

[2022-03-03 17:29] dbwiddis opened #300 "File creation year is inaccurate by default"
I've been running rc2 for a while, using the copyright existence years implemented by #240, and it has been showing somewhat odd behavior, changing license headers on unrelated commits.  The behavior was similar to what I saw when the repository was shallow (addressed by #252) but I confirmed full depth.   But it's still showing wrong date ranges.

I finally dug into the code and saw that the [def

[2022-03-18 02:42] hazendaz commented on #282
This is still necessary work.

[2022-03-21 13:22] #252 closed

[2022-03-22 18:34] dbwiddis commented on #300
I looked into potential fixes for this.

First note: this was originally reported by @brenuart in #151 but the issue was closed because there was a workaround available (per my comments above) and the issue went stale without being addressed.

Second note: this is a git-only issue.  The copyright range for SVN uses the inception year.  Since original commit author, email, or year is not returned b

[2022-03-23 02:50] dbwiddis commented on #290
I think this is a good feature request.  The spotless maven plugin does this.  Currently when troubleshooting license rewrite failures I have no option other than to run `license:format` and use my IDE or other tools to examine the diff.

[2022-03-23 03:21] dbwiddis opened #309 "Keep existing copyright lines, use template for default"
Software copyright statements are not always as consistent across all files as this plugin assumes, and there is no facility provided to permit different years or different authors other than the few provided substitutions (inception, file creation, latest change).

In order to use this plugin, maintainers are forced to adopt some text that applies to everyone, e.g., "Copyright 2020 the original a

[2022-03-24 16:52] dbwiddis commented on #292
Took a quick look, and I think it's a decent idea, but some questions:
 - how do you specify the commits to be ignored? By hash?  Is the full 40-digit hash required or is 8 enough?
 - Is there a way to ignore commits by commit title, e.g., containing `[docs]` or some other tag?
 - The list could get large, could it be read in from another file?

[2022-03-24 23:42] dbwiddis commented on #298
It works fast for me on macOS ... at least as fast as Linux.  My slow OS is Windows using a git bash terminal, but I suspect that has to do with how many threads it's allowed to use.  As far as speed, what settings/substitutions are you using?

[2022-03-25 15:21] #300 closed

[2022-03-26 07:39] mathieucarbou commented on #292
@philippn : agree, this would be a nice addition you can PR this of course!

@dbwiddis: he is using the SHA-1, in lower case hexadecimal. I wouldn't use shorter ones for such use case. That's OK as-is, I wouldn't even bother supporting upper cases. I wouldn't also ignore by title because error-prone for the future, goal here being to select some old "states" to ignore. For the commit list that get

[2022-03-26 07:45] mathieucarbou commented on #309
Hi,
I'm always ok for new features and improvements.
This is however a pretty big rewrite, and it will have to be backward compatible, so that's challenging...
But it would definitely help solve several use cases and issues reported, of course.
Thanks 👍

[2022-03-26 07:48] mathieucarbou commented on #298
Works pretty fast also for me on macOS...

Note: is it possible that you have an antivirus scanning all the files changed ?

[2022-03-26 07:54] mathieucarbou commented on #290
@astubbs @dbwiddis : agree this would be a nice addition and not so hard to do I think.

Though, I wouldn't add that by default because it can be very verbose on a big project.

I would add a new option like `verboseCheck` or `showCheckErrors`, something like this, which, when activated, would display the formatted file header like if a format would have been called.

Note also that with the recen

[2022-03-26 14:58] dbwiddis commented on #309
I don't think it's that big.   Finding the copyright header is relatively easy and already done in (draft) #323 along with the logic to "skip".  You just parse both the file header and license header looking for "copyright" and grab to the end of the line, then swap from the file into the license header before rewriting.  It's parameter driven, off by default, and thus compatible.

But the margina

[2022-03-26 20:56] mirabilos commented on #78
stale[bot] dixit:

Probably, but I’m not using the plugin anywhere right now (working
on C projects), so I don’t know for sure.

bye,
//mirabilos
--
Infrastrukturexperte • tarent solutions GmbH
Am Dickobskreuz 10, D-53121 Bonn • http://www.tarent.de/
Telephon +49 228 54881-393 • Fax: +49 228 54881-235
HRB AG Bonn 5168 • USt-ID (VAT): DE122264941
Geschäftsführer: Dr. Stefan Barth, Kai Ebenrett, Bor

[2022-03-27 20:15] dbwiddis opened #330 "Enforce coding style"
@dbwiddis : I think the priority could be to add the checkstyle plugin to the project in order to help contributors :-)
Some IDE are configured by default to use wildcards when optimizing imports.

_Originally posted by @mathieucarbou in https://github.com/mathieucarbou/license-maven-plugin/pull/327#discussion_r835946222_

A very useful plugin we might want first is [`spotless-maven-plugin`](https

[2022-03-27 21:27] mathieucarbou commented on #330
Works for me :-)

[2022-03-27 21:32] dbwiddis commented on #330
So what's your code style?  Sun default? Google? :)

[2022-03-27 22:06] hazendaz commented on #330
Google is probably best to use.  Currently at 2 character spacing which I believe is googles default.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Daniel Widdis ***@***.***>
Sent: Sunday, March 27, 2022 5:32:36 PM
To: mathieucarbou/license-maven-plugin ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [m

[2022-03-27 22:06] mathieucarbou commented on #330
None of both. I'm more pragmatic.
I was using intellij default style (disabling star imports). As many devs do also.

What was important for me is to facilitate contributions.
If we enforce a style that is so different than the IDE's defaults or exotic to the point that it forces people to change their IDE config to correctly contribute, then that's not good.

So whatever the style... As long as w

[2022-03-27 22:09] mathieucarbou commented on #330
I don't remember is 2 char spacing is the default in mlp but I agree for the switch to 2 char spacing of it is not already there. Using that since years already...

Star import and 2 char spacing and no trailing white space is I think the 3 things I change in my ide config

[2022-03-27 22:12] dbwiddis commented on #330
There's a ton of overlap in styles, and spotless makes it pretty frictionless for contributors.  They do whatever, then run `mvn spotless:apply` and commit.

I use the Eclipse defaults which is pretty much the same as Google except 4 vs. 2 indent.  Really there are only 3 choices you need to make and the rest is pretty consistent:
* Spaces vs. tabs (if you choose tabs I'll stop contributing 🤣 )
*

[2022-03-27 22:19] mathieucarbou commented on #330
Ahah ;-)
Space + ident 2 + curly brace on same line then :-)
Agree.

I was looking to that yesterday... With the tremendous work you did we could issue a 4.2... But it would be nice of we could have #327  merged first...

Or we could do a rc3 and then 4.2 later also...

[2022-03-27 23:41] hazendaz commented on #330
@dbwiddis If you want, I can look at this one since my focus at the moment has mainly been around the build itself.  Based on last few threads, I think we are up to needing checkstyle, formatting, spotbugs, maybe a few others and given all can basically be automated it shouldn't really run into issues on how any contributor wants to be setup.  I think you are further into the weeds on the code its

[2022-03-27 23:49] dbwiddis commented on #330
@mathieucarbou I think the following sequence is best:
 - Get #327 merged
 - Release a rc3
 - Let @hazendaz troubleshoot performance/cache issues, and tweak build automation, but otherwise minimize new features
 - Release 4.2 when we think it's production ready

[2022-03-28 01:06] hazendaz commented on #330
sounds like a good plan to me 👍

I did apply default google rules from checkstyle 9.3 (still jdk 8 compatible copy).  It doesn't outright have any issues that cause failure.  It does have large number of warnings.  A few of which are easily addressed.  Main ones thus far is 100 line limit google uses is I think overdue for going to 120 given screen resolutions these days (if not more but that seem

[2022-03-28 15:29] mathieucarbou commented on #330
Little changes:

- [ ] Getting merged: #340 (license headers)
- [ ] Getting merged: #339 (bug fixes in providers)
- [ ] Getting merged: #327 (ignore commits)
- [ ] Getting merged: #337 (checkstyle)
- [ ] Release 4.2.rc3
- [ ] Perf / build issues / bug fixing
- [ ] Release 4.2 final

[2022-03-30 11:04] #292 closed

[2022-03-30 11:08] mathieucarbou commented on #330
@dbwiddis @hazendaz : little rollback of idea.... I have tried the Google Style and it is not suitable at all... It forces an indentation / alignment that is not aligned and a wrapping too. I hate that because there are many cases where for readability, alignment and wrapping has to be up to the dev.

So let's stick with the default Intellij style (perhaps closer to sun then ?) but:
- tab size 2
-

[2022-03-30 23:20] hazendaz opened #351 "Add caching support - two tiered - pie in the sky...discussion only for now."
This is mainly for me and to start a discussion on this topic.  Not enough has been done to validate how to accomplish this yet but this is where my head is currently.

This is just a really loose discussion here as I have not dived deep enough to see overall outside of belief that jgit is the main problem that would necessitate a cache.  And so many recent changes around how jgit performs this ma

[2022-04-02 13:50] #239 closed

[2022-04-04 09:36] mathieucarbou commented on #330
Closing - added a commit on master branch.

[2022-04-04 09:36] #330 closed

[2022-04-25 19:34] mathieucarbou opened #364 "Move to newer JVM while still supporting 8"
Yes that's something to do but in a more rigorous way because there are still some projects using 8 (or not able to use something else because of some external constraints). And a dev error is still possible if not properly checked, like using an API that is not available in 8.

I would even agree that we could switch by default to 17 **providing that we can:**

1) Either have some build jobs comp

[2022-04-25 19:36] mathieucarbou commented on #364
@dbwiddis @hazendaz : FYI created issue for discussing that ;-)

[2022-04-25 21:35] dbwiddis commented on #364
Some general thoughts:
 - No need to move above 8 "just because". We should move to take advantage of some feature we want in the new version.
 - We can retain JDK8 compatibility but just "build" on JDK11 to take advantage of checkstyle or any other plugin that requires JDK11.  Maven compiler plugin can enforce the JDK8 API easily.
 - Not sure we need to maintain (and keep up to date) a separate b

[2022-04-26 07:25] mathieucarbou commented on #364
I agree 👍

No need if we decide to switch main to 17 and keep 2.x for 8+ and only do bug fixes as needed: I don't see the point in upgrading but still limit what devs can do. Otherwise, if we want to keep main compatible with 11+, the let's switch to 11 for everything and not 17.

What I want too... We can branch when needed, in fact. I wouldn't even bother to port the new features back... Just do

[2022-04-29 00:25] hazendaz commented on #364
I think reading this we are +1 for using jdk 11 and cross compiling to jdk 8 for time being?  That is the easiest approach until we find some code reason otherwise ;)  I can work up the changes this coming weekend if we are ready for that.  It will be transparent to end user, we just need to note that in case others look at github actions to determine compatibility so noting on readme we are jdk 8

[2022-05-04 08:45] Boarschti42 opened #367 "Existing manually inserted header ignored"
Hi, i have a manualy inserted header in my java source code. For use of this plugin, i copy&pasted this header into an external file for use with this plugin.
If i run "mvn license:check", this plugin says, there is no header in the existing file.

maven config:
[code]

example header in existing file:
[code]
The created text-file is the content of the comment itself.

Did i do something wrong or

[2022-05-11 14:47] devent opened #368 "Excludes are ignored"
**Version affected**

4.2.rc3

**Describe the bug**

I need to exclude projects that I added with git-submodule. But no matter what pattern I use the license headers are checked and found invalid.

**How to Reproduce**

I tried just the like `jenkins-cpp-docker`, `**/jenkins-cpp-docker`, `**/jenkins-cpp-docker/**` *jenkins-cpp-docker/**` but nothing works.

Here is the relevant plugin configuratio

[2022-05-12 07:58] devent commented on #368
I made it work by doubling the configuration. But according to the documentation this configuration below should be invalid.

[code]

[2022-05-19 14:25] sonicsdoom opened #372 "Remove / modify custom license not possible"
**Version affected**

4.1. and 4.2.rc3

**Describe the bug**

I have added a custom license text header, unfortunately I cannot remove it using the "remove" function.

If I change the license text and call the function "format" again, the old header is not overwritten but extended by the new license text.

If I use a standard license, the functions "remove" and "format" work normally.

**How to Re

[2022-05-25 23:22] mirabilos commented on #78
stale[bot] dixit:

🤡

[2022-05-30 16:10] hazendaz commented on #351
this was more for a discussion than an issue.  It can be closed for now as work has not progressed on it.

[2022-05-30 16:10] #351 closed

[2022-06-02 16:27] michael-simons opened #377 "License enforcement fails on 4.2.rc3"
**Version affected**

4.2.rc3

**Describe the bug**

If I add dependency enforcement to 4.2.rc3 the build fails with

[code]

**How to Reproduce**

Please be so kind and clone https://github.com/michael-simons/neo4j-migrations

* Run `./mvnw license:check`
* Notice it works
* Run `./mvnw -Dlicense-maven-plugin.version=4.2.rc3  license:check`

above exception is thrown.

Here's my config https://gi

[2022-06-16 12:30] devent commented on #368
I can close this because I had a wrong configuration in the parent Pom.

[2022-06-16 12:30] #368 closed, assigned to nobody

[2022-07-05 02:44] melin opened #390 "include specified directory does not take effect"
[code]

[INFO] -----------< com.aloudata.spark.jobserver:jobserver-driver >------------
[INFO] Building jobserver-driver 0.6.0-SNAPSHOT                           [5/6]
[INFO] --------------------------------[ jar ]---------------------------------
[DEBUG] Lifecycle default -> [validate, initialize, generate-sources, process-sources, generate-resources, process-resources, compile, process-classes,

[2022-07-05 07:49] #390 closed

[2022-07-05 08:30] melin opened #391 "Add a blank line between header and package"
Java CheckStyle EmptyLineSeparator(allowMultipleEmptyLinesInsideClassMembers) rule that requires a blank line between header and package。

How do I configure add blank line？

[code]

[ERROR] src/main/java/com/aloudata/spark/jobserver/core/exception/SparkJobException.java:[5,1] (whitespace) EmptyLineSeparator: “package”之前应该有一个空白行。
[ERROR] src/main/java/com/aloudata/spark/jobserver/core/exception/Sw

[2022-07-11 20:21] #367 closed

[2022-07-18 19:14] phax commented on #372
Yes, it is still relevant :)

[2022-07-27 21:23] mirabilos commented on #78
Yay for bots…

[2022-08-02 03:54] michael-simons commented on #377
Nothing has changed. I’d love to have some feedback. Thanks.

[2022-08-02 05:02] dbwiddis commented on #377
Looks like a potential regression with this commit:
https://github.com/mathieucarbou/license-maven-plugin/commit/be2dfa259332728615d8a0caa61dcb43de5ae03b

Seems `buildingRequest` isn't in scope and is pulling from the class.  Based on other lines in this file there's some cross-reference between `project` and `buildingRequest` but I'll defer to @hazendaz here to try to explain it.

[2022-08-03 01:54] hazendaz commented on #377
will take a look in a few days.

[2022-08-04 09:54] lestephane commented on #391
Something I tried unsuccessfully
[code]
Then got the error
[code]

[2022-09-16 20:43] phax commented on #372
@mathieucarbou that feature was previously working and it should hopefully be a simple regression. Do you think you can tackle this one???

[2022-09-29 15:30] matusfaro opened #420 "Unwanted removal of surrounding comments"
**Version affected**

4.1

**Describe the bug**

Formatting licenses also removes surrounding comments.

My license is a two line SPDX tag:

[code]

After first round of license update:

[code]

After second round of license update:

[code]

The quick fix is to add a /* */ comment in-between like so:
[code]

**How to Reproduce**

Snippet from [pom.xml](https://github.com/clearflask/clearflask/blob

[2022-10-02 06:02] michael-simons commented on #377
Please keep it open.

[2022-10-02 23:16] hazendaz commented on #377
haven't forgotten about this, just haven't had time.  The code was changed because maven changed the method signature.  Will need to dig more into this specific issue but did want to at least comment on why it changed on #be2dfa2

[2022-10-11 20:51] #391 closed

[2022-11-03 14:20] AdrienHorgnies commented on #242
Hi,

I have the same problem even when the formatting is exactly the same.
In the code block below, you can see that the new header has been prepended right above the previous one :

[code]

And I have the below configuration :

[code]

[2022-11-03 14:40] hazendaz commented on #242
Please use 4.2.rc3 instead as this issue I believe was fixed.  I haven't seen it in a long time myself and used to regularly.

[2022-11-06 17:35] AdrienHorgnies commented on #242
Indeed, that's what it. Thanks; So my issue was only bad usage after all.

[2022-11-16 06:20] sonicsdoom commented on #372
Yes it is

Philip Helger ***@***.***> schrieb am Mi., 16. Nov. 2022,
00:53:

[2022-11-25 19:08] mirabilos commented on #78
stale[bot] dixit:

yes, as always

[2022-11-26 05:27] onacit opened #431 "Avoid SonarLint glitch"
**Describe the feature**

Change the license text so that the SonarLint won't complain about the commented out code blocks.

**Any alternative you've considered ?**

[code]

[code]

https://stackoverflow.com/q/45874511/330457

[2022-11-28 22:27] matusfaro commented on #420
Issue still present, still affected